// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.news-body {
  height: auto !important;
@include md-d {
  height: 100%;
}
  font-family: 'Marcellus SC', serif;
}

body.news_categories-body {
  height: auto !important;
}



//scrolling mouse
.scroll-downs {
  @include md-d {
    display: none;
  }
  z-index: 99999;
  position: relative;
  margin: auto;
  display: flex;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


.page-news-content{
  background: $darkbg;
}


// News index pagination
.news-index-pagination {
  .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.1rem $main-opacity-color;
  }

  //disabled page item
  .page-item.disabled .page-link {
    background: $darkbg;
    border-color: $dark-color;
  }
  //active page item
  .page-item.active .page-link {
    color: $main-color;
    background: $main-color-dark;
    border-color:  $opacity-color;
  }

 // normal page link
 .page-link {
   background: $darkbg;
   color: $main-color;
   border-color: $main-color-dark;

   &:hover{
     background: $main-color-dark;
     color: $white;
     border-color:  $main-opacity-color;
   }
 }
}

.news-show-header {


  text-align: center;
  z-index: 10;
  /* padding: 100px 0; */
  /* position: absolute; */
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  left: 0;

  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 4em;
    z-index: 9;
  }

}


.page-header {
  text-align: center;
  padding: 100px 0;
  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 4em;
    z-index: 9;
  }

}

.news-background {

  @include md-d {
    height: 50%;
    background-size: contain;
    background-position: top;
  }

  position: relative;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  &::after {
    position: absolute;

    background-image: linear-gradient(0deg, #17161a 0%, #17161a 47%, rgba(23, 22, 26, 0) 100%, rgba(0, 0, 0, 0) 100%);
    top:0;
    height:100%;
    width: 100%;
    content: '';
  }

  .row {
    margin: 0;
    padding: 0;
  }
}




.news-wrapper {
padding: 100px 0px 100px 0px;
  @include md-d {
    .pagination {
      @include pagination-size(10px, 20px, 2em, 36px, 1px)
    }
  }

  .news-header-image{
    margin: 0 auto;
    display: flex;
  }

  // index actions - categories buttons
  .actions {
    @include md-d {
      width: 50%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      .btn-do-ghostie{
        margin: 15px 0;
        font-size: 2em;
      }
    }
  }

  .page-header {
    h2 {
      font-size: 5em;
    }
    p {
      font-size: 1.5em;
    }
    @include md-d {
      h2 {
        font-size: 6em;
      }
      p {
        font-size: 2em;
      }
    }



  }

  .container {
    max-width:90% !important;
  object-fit: fill;
  }



}


img.card-img-top {
  max-height: 295px;
  @include md-d {
    max-height: min-content;
  }
}

p.card-text {
  color: $darkt;
}

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {

  .card-deck-wrapper {margin-right:0;margin-left:0;}
  .card-deck {
    display: block;
    width: 100%;
    margin-bottom: .75rem;
    table-layout: fixed;
    border-spacing: 1.25rem 0;
  }
  .card-deck .card {
    display: block;
    margin-bottom: .75rem;
    vertical-align: top;
  }

  .card-deck .card:not(:first-child) {
    margin-left: 0px;
  }

}

//
// EDIT NEWS
//
form.edit_news, .new_news {
  .form-control {
    background: $main-color-dark;
    padding: 5px;
    text-indent: initial;

    &:focus {
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
      color: #fff;
    }
  }
}


//
// SHOW NEWS
//
.page-news-other {
background: $darkbg;
  .news-other-container {
    padding: 50px 0;
    width:90%;
    margin: 0 auto;

    @include md-d {
      h3 {
        font-size: 4em;
      }
      .pagination {
        @include pagination-size(10px, 20px, 2em, 36px, 1px)
      }
    }


    .container {
      max-width:100%;
      @include md-d {
        max-width: 80%;
      }
    }
  }
}

.news-show-card {
  @include md-d {
    padding: 20px;
  }
  .news-show-img {
    min-height: auto;
    -o-object-fit: cover;
    max-height: 224px;
    object-fit: cover;
    max-width: 398px;

    @include md-d {
      max-height: initial;
      max-width: initial;
    }
  }

  .card-body{
    .card-title {
      font-size: 1.5em;
      @include md-d {
        font-size: 3em;
      }
    }
    .card-text {
      font-size: 1.2em;
    }
  }
  .card-btn {
    @include md-d {
      display: none;
    }
  }

}


.news {
  width:100%;
  .news-box {
    width:90%;
    margin: 0 auto;
    padding: 100px 0;

  }



  .news-header {
    padding: 25px;

    @include md-d {
      h2 {
        font-size:4em;
      }
    }

  }

  .news-description {

    align-content: center;
    height:50px;
    width:100%;

    p {
      margin: 0;
      padding: 10px;
      @include md-d {
        font-size: 2em;
      }
    }

    table {
      color: $white;
    }

  }

}

.news-content{

  hr {
    border-top: 1px solid $white;
  }

  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  background: $darkbg;
  background-image: none;
  width:80%;
  margin: 0 auto;
  text-align: left;
 padding: 100px 0;
  @include md-d {
    p {
      font-size: 3em;
    }
  }

}

.news-comments {
  // top box shadow
  -webkit-box-shadow: 0px 6px 49px 6px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 6px 49px 6px rgba(0,0,0,0.25);
  box-shadow: 0px 6px 49px 6px rgba(0,0,0,0.25);

  background: $darkbg;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 100px 0;

  &-form {
    padding-top: 50px;
  }

  &-box {
    width:80%;
    margin: 0 auto;
    padding: 25px;
  }
}


.card {
  border: 5px solid $opacity-color;
  background: transparent;
  border-bottom: 10px solid $opacity-color;
  -webkit-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.32);
  box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.32);
  transition: .4s;
  &:hover{
    transition: .4s;
    transform: translateY(-10px);
  }
}


.active-news {
  -webkit-box-shadow: 0px 0px 34px -15px $main-opacity-color;
  -moz-box-shadow: 0px 0px 34px -15px $main-opacity-color;
  box-shadow: 0px 0px 34px -15px $main-opacity-color;
  border-bottom: 5px solid $main-color;
}



.card-footer{
  background: $opacity-color;
  display: flex;
  justify-content: space-between;
  .card-footer-col {
    display: flex;
    flex-direction: column;
    text-align: left;
    small {
      font-size: .9em;
      padding: 5px 0;
    }
  }



  .card-footer-col-similar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    small {
      font-size: .9em;
      padding: 5px 0;
    }



  }

  @include md-d {
    .card-footer-col {
      align-self: center;
      max-width: 90%;
      text-align: center;

      small {
        padding: 5px 0;
      }
    }
    font-size: 2em;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
}

//index news card
.badge-vitru {
  background: $opacity-color;
  border-radius: 0;
  font-weight: 300;
  padding-bottom: 5px;
  font-size: 1em;
}

.card-body {


  // dont display button on mobile
  &.footer-card-body {
    @include md-d {
      display: none;
    }
  }

  background: $main-color-dark;

  p {
    font-size: 1.2em;
    color: $white;
    @include md-d {
      text-align: center;
      font-size: 2em;
    }
  }

  .card-link {
    @include md-d {
      display: none;
    }
  }

    .author {
      float:right !important;
    }


  .card-title {
    font-size: 2em;

    color: $main-color;

    @include md-d {
      text-align: center;
      font-size: 3em;
    }
  }

}


