%h1 Reset Hasła konta Dusze Orokinu

%p 
    By ustawić nowe hasło na swoim koncie przejdź pod ten link: 
    = link_to "Nowe Hasło", edit_password_reset_url(@user.reset_token, email: @user.email) 

%p Ten link wygaśnie w ciągu 2 godzin.

%p Jeśli to nie Ty, zarządałeś/aś zmiany hasła swojego konta, zignoruj tę wiadomość, a hasło pozostanie niezmienione.

