= provide(:title, 'Misje')


.page-wrapper
  .page-header

    .sortie-box
      %h2 Sortie
      %p=@sortie['faction']

      %p=@sortie['boss']

      %p
        Ends in:
        =TimeDifference.between(@sortie['expiry'], Time.now).humanize

        .sortie-variants
          .row
            -@sortie['variants'].each do |v|

              .col-md-4.sortie-col
                .sortie-inner.m-2.p-5
                  %table.table.text-center

                    %tbody
                      %tr

                        %td=v['missionType']

                      %tr

                        %td=v['node']

                      %tr

                        %td=v['modifier']

                      %tr

                        %td=v['modifierDescription']



    .alerts-box
      %h2 Alerts
      .alerts-variants
        .row
          -@alerts.each do |a|

            .col-md-4.alerts-col
              .alerts-inner.m-2.p-5
                %table.table.text-center

                  %tbody
                    %tr
                      %td=a['mission']['node']

                    %tr
                      %td=a['mission']['type']

                    -if a['mission']['type'] == 'Defense'
                      %tr
                        %td=a['mission']['maxWaveNum']

                    %tr
                      %td=a['mission']['faction']

                    %tr
                      %td
                        %span
                          =a['mission']['minEnemyLevel']
                          =a['mission']['maxEnemyLevel']

                    %tr
                      %td=TimeDifference.between(a['expiry'], Time.now).humanize

                -if !a['mission']['reward']['items'].blank?
                  .div
                    -a['mission']['reward']['items'].each do |i|
                      =i

                -if !a['mission']['reward']['countedItems'].blank?
                  .div
                  -a['mission']['reward']['items'].each do |i|
                    %span
                      =i['count']
                      =i['type']

                -if !a['mission']['reward']['credits'].blank?
                  .div
                    %p
                      =a['mission']['reward']['credits']
                      Credits

                  .div
                    =image_tag a['mission']['reward']['thumbnail'], class:'alerts-thumb'
