$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import '~bootstrap/scss/bootstrap';

@import '../stylesheets/vitruvian/vitruvian';
@import "~summernote/dist/summernote-bs4";
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/3024-day";
@import '~sweetalert2/src/sweetalert2.scss';

@import "chosen";

//cookies styles

@keyframes slideInFromTop {
  from {
    transform: translateY(80px);
    opacity:0;
  }
  to {
    transform: translateY(0);
    opacity:1;
  }
}

.js-cookies-eu {
  animation: .5s ease-in 0s 1 forwards slideInFromTop;
  animation-delay: 3s;
}

.cookies-info {
  hr {
    border-top: 1px solid $white;
  }
}

.cookies-eu /* main div */ {
  transform: translateY(80px);
  opacity:0;
  z-index: 9999999999;
  position: fixed;
  bottom: 0;
  background: $darkbg;
  width: 100%;
  display: flex;
  border-top: 10px solid #b6934e;
  justify-content: center;
  align-items: center;
}
.cookies-eu-content-holder /* content holder */ {
  padding: 15px;
}
.cookies-eu-button-holder /* button holder */ {
  background: transparent;
  padding: 10px;

}
.cookies-eu-ok  /* button */      {

}





// Code editor summernote
.note-group-select-from-files {
  display: none;
}
// edit form summernote
.note-popover.popover{
  z-index: 9999999999 !important;
}
.note-editor {
  z-index: 9999999999 !important;
  .modal-dialog {
    position:absolute;
    top: 30%;
    right:0;
    left:0;
  }
  .modal-content {
    color: $darkbg;
  }

  .modal-body {
    text-align: left;
  }


  .note-editable{
    min-height: 500px;
    text-align:left;
    background-color: $darkbg !important;
    color: #d9d9d9 !important;
  }
  .note-toolbar {
    color: $darkt;
    .dropdown-menu {
      background: #fff;
      .dropdown-item {
        color: $darkbg;
      }
    }
  }


  .note-form-control {
    background: #f4f4f4 !important;

  }

  .CodeMirror-code {
    text-align: left;
    word-break: break-all;
  }
}



/* direct_uploads.css */

.direct-upload {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
}

.direct-upload--pending {
  opacity: 0.6;
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  border-color: red;
}

input[type=file][data-direct-upload-url][disabled] {
  display: none;
}



