.footbar {
  position: relative;
  margin: 0;
  width: 100%;
  text-align: center;
  height: 100vh;
  background: url('../images/ghostie-footer-no.svg');
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: bottom;

  .footbar-content {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .footbar-information {
      width: 50%;
      margin: 0 auto;
    }
    .container {
      align-self: unset;
      margin-top: auto;
      margin-bottom: auto;
    }
  }


  @include md-d {
  height: 100vh;
    .footbar-content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .footbar-information {
        width: 90%;
      }
    }
  }


  p {
    color: $darkwhite;
    @include sm-d  {
      padding-bottom: 40px;
      font-size: 2em;
    }
    @include md-d{
      padding-bottom: 80px;
      font-size: 2em;
    }
  }

  img {
    width: 20%;
    height: auto;
    @include sm-d {
      width: 40%;
    }
    @include md-d {
      width: 40%;
    }
  }

}

.footbar-body {

  .application-logo {
    width:20%;
  }


  text-align: center;
  padding: 50px;

  h2 {
    font-size: 4em;
    color: $white;

    @include md-d {
      font-size: 6em;
    }
  }

  p {
    color: $main-color;
    font-size: 1.5em;

    @include md-d {
      font-size: 2em;
    }
  }
}

nav.foo-nav li {
  text-decoration: none;
  list-style: none;
}

.foo-nav {
  h1 {

    color: #d41144;

  }

  a {

    transition: 0.25s;
    color: #494949;

    &:hover {
      text-decoration: none;
      color: #d41144;
      transition: 0.25s;
    }
  }

}


.stopka {
  padding: 10px;

  @include md-d{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin: 0 auto;
    padding: 30px 30px 30px 30px;
  }

  h4 {
    color: #fff;
    font-size: 14px;
    text-align: center;

    @include sm-d {
      font-size: 1.5em;
    }
    @include md-d {
      font-size: 1.5em;
    }
  }

}
