
<div class="col-md-4">
  Konwersacja z <%= online_status conversation.with(current_user) %>
  <br>
  <p class="pers-msg-body"><%= conversation.personal_messages.last.body.truncate(50) %></p>
  <br>
  <%= link_to 'Zobacz wiadomości', conversation_path(conversation) %>

  <hr>
  
</div>


