<div class="page-wrapper">

<div class="container">
<div class="row">
<div class="col-md-8">
<h1>Inbox</h1>

<%= render  "conversation" %>

</div>

<div class="col-md-4">
<h2>Users</h2>
<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.name, conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post %></li>
  <% end %>
</ul>
</div>
</div>
</div>
</div>
