<div class="page-wrapper">

<div class="container">
<div class="row">
<div class="col-md-8">
<h1>Inbox</h1>

<ul class="list-group">
  <% @conversations.each do |conversation| %>
   <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to conversation.recipient(current_user).name, conversation_messages_path(conversation) %>
      <% if !conversation.unread_message_count(current_user).zero? %>
      <span class="badge badge-primary badge-pill"><%= conversation.unread_message_count(current_user) %></span>
      <% end %>
    </li>
  <% end %>
</ul>

</div>

<div class="col-md-4">
<h2>Users</h2>
<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.name, conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post %></li>
  <% end %>
</ul>
</div>
</div>
</div>
</div>
