<div id="notification">
  <div class="close">Zamknij</div>
  <p>
    <%= message.body %><br>
    Od: <%= message.user.name %>
  </p>
  <p><%= link_to 'Zobacz', conversation_path(message.conversation) %></p>
</div>