<li>
  <div class="container">

    <div class="row">

      <div class="user-image">
      <%= gravatar_for user, size: 50 %>
      </div>

      <div class="user-profile">

        <%= link_to user.name, user %>
      
     
    

        <div class="ranks">

        
        
          <% if user.admin? %>
            <p>
              <button class="btn btn-do-profile disabled">
                <span>Administrator</span></button>
            <% end %>

            <% if user.lider? %>
              <button class="btn btn-profile disabled">
                <span>Lider Klanu</span></button>
            <% end %>
          </p>
        </div>

      </div>


 <div class="options">


 <% unless current_user == user %>
        <span> <%= link_to 'PW', new_message_path(to: user.id),  class: 'btn btn-do-profile-opt ' %></span>
      <% end %>


        <% if current_user?(user) || admin? %>
         

        
           <span><%= button_to "Usuń użytkownika", user, method: :delete, data: { confirm: "Jesteś pewny, że chcesz usunąć tego użytkownika?" }, class: 'btn btn-do-profile-opt ' %></span>

        <% end %>

    </div>


    </div>
  </div>
</li>
