<% provide(:title, 'Edytuj profil') %>
<% provide(:button_text, 'Zapisz zmiany') %>
<div class="content-wrapper">


<div class="page-header">
  <h1>Edytuj profil</h1>
</div>


<div class="container form-container">
<div class="row justify-content-md-center">
  <div class="form-group col-md-6">
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Zmień</a>
    </div>
  </div>
</div>
</div>

</div>
