= provide(:title, 'Użytkownicy')

.page-wrapper
  .content-wrapper
    .page-header
      %h1 Użytkownicy
    .page-header
      = will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination justify-content-center', :previous_label => 'Poprzednia', :next_label => 'Następna')

    .container.users-container
      .row.justify-content-md-center
        %ul.users
          = render @users


      = will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination justify-content-center', :previous_label => 'Poprzednia', :next_label => 'Następna') 

