= provide(:button_text, 'Zarejestruj') 
= provide(:title, 'Rejestracja') 



.signup-page-header
  .signup-page-bg

  .signup-page-wrapper
    .signup-page-content
      .page-wrapper

        .page-header
          %h1 Rejestracja
          %h3 Zarejestruj się, aby zyskać dostęp do wszystkich funkcji strony.

        .container.form-container
          .row.justify-content-md-center
            .form-group.col-md-6
              = render 'form' 
              %p 
                Masz już konto? 
                = link_to "Zaloguj się!", login_path








