<% provide(:button_text, 'Zarejestruj') %>
<% provide(:title, 'Rejestracja') %>



<div class="signup-page-header">

  <div class="signup-page-bg">
</div>

<div class="signup-page-wrapper">

<div class="signup-page-content">


<div class="page-wrapper">


<div class="page-header">
  <h1>Rejestracja</h1>
  <h3>Zarejestruj się, aby zyskać dostęp do wszystkich funkcji strony.</h3>
</div>



<div class="container form-container">
<div class="row justify-content-md-center">
  <div class="form-group col-md-6">
<%= render 'form' %>
    <p>Masz już konto? <%= link_to "Zaloguj się!", login_path %></p>
  </div>
</div>
</div>


<!-- register wrapper end -->
</div>


</div>
</div>
</div>
