- provide(:title, 'Panel') 

.page-wrapper


  .container
    %section.user_info
      = render 'shared/user_info'
    .options-panel
      .row
        - if current_user.has_role? :admin
          .col-md-6.mx-auto.panel-administracja
            %h2 Administracja
            %span
              = link_to "Lista podań do sojuszu", requests_path, class: 'btn btn-do'
              = link_to "Lista użytkowników", users_path, class: 'btn btn-do'
              = link_to "Panel administracyjny", rails_admin_path, class: 'btn btn-do'
