<% provide(:title, 'Panel') %>

<% if logged_in? %>

<div class="page-wrapper">


<div class="container">

      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>



<div class="options-panel">


<div class="row">
  <% if current_user.admin? %>
      <div class="col-md-6 mx-auto panel-administracja">
        <h2> Administracja </h2>
        <span><%= link_to "Lista podań do sojuszu", alliancerequests_path, class: 'btn btn-do'%></span>
         <span><%= link_to "Lista użytkowników", users_path, class: 'btn btn-do'%></span>
            </div>
  <% end %>
</div>

  <div class="row">



    <div class="col-md-4">
      <h2> Panel </h2>
      <ul>
        <li><a href="#">TestLink</a></li>
          <li><a href="#">TestLink</a></li>
            <li><a href="#">TestLink</a></li>
              <li><a href="#">TestLink</a></li>
                <li><a href="#">TestLink</a></li>
                  <li><a href="#">TestLink</a></li>
      </ul>
    </div>


    <div class="col-md-4">
      <h2> Panel  </h2>
    </div>

    <div class="col-md-4">
      <h2> Panel  </h2>
    </div>


  </div>
</div>


</div>

</div>

<% end %>
