- provide(:title, @user.name)

.user-page-wrapper.parallax-users
  .profile-container
    .container
      .row
        #content.col-md-8.mx-auto.text-center.col-show-box
          =render 'user_profile'


