<% provide(:title, @user.name) %>


<div class="content-wrapper">


<div class="profile-container">


  <div class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>


        <div class="ranks">
          <% if @user.admin? %>
            <p>
              <button class="btn btn-do-profile disabled">
                <span>Administrator</span></button>
            <% end %>

            <% if @user.lider? %>
              <button class="btn btn-profile disabled">
                <span>Lider Klanu</span></button>
            <% end %>
          </p>
        </div>
      </h1>
    </section>
  </div>


  <% if admin? %>

<% if @user.lider == true %>
| <%= link_to (@user.lider ? "Odbierz rangę lidera klanu" : "Daj rangę lidera klanu"), decline_user_path(@user) %>
<% else%>
|  <%= link_to (@user.lider ? "Odbierz rangę lidera klanu" : "Daj rangę lidera klanu"), approve_user_path(@user) %>
<% end %>

    <% end %>

</div>
</div>
