.div{role:"alert", 'aria-live':"assertive", 'aria-atomic':"true", 'data-autohide':"true", class: "ajax-alert show-from-top", id:"toast"}
  .toast-header
    %button.ml-2.mb-1.close{type:"button",  'data-dismiss':"toast", 'aria-label':"Close", id:'close-alert', onclick:"closeToast()"}
      %span{'aria-hidden':"true"}
        %i.fas.fa-times
  .toast-body
    =notice
