<% provide(:title, 'Edytuj klan') %>
<% provide(:button_text, 'Zapisz zmiany') %>
<div class="page-wrapper">


<div class="page-header">
  <h1>Edytuj ogłoszenie klanu</h1>
</div>


<div class="container form-container">
<div class="row justify-content-md-center">

    <%= render 'clan_form' %>

</div>
</div>

</div>
