<% provide(:title, 'Edytuj klan') %>
<% provide(:button_text, 'Zapisz zmiany') %>
<% provide(:header_text, 'Edytuj') %>



<div class="page-wrapper">


<div class="page-header">

</div>


<div class="container form-container">
<div class="row justify-content-md-center">

    <%= render 'clan_form' %>

</div>
</div>

</div>
