- provide(:title, 'Lista klanów') 

.clan-index.parallax-ghostie
  .container.mw-100.clan_index_container
    =render 'clans_index_info'

    =clans_with_status(@clansapproved, "approved")

    -if user_signed_in?
      - if current_user.has_role? :admin
        =clans_with_status(@clanspending, "pending")
        =clans_with_status(@clansdeclined, "declined")