- provide(:title, 'Klan - Panel')

.clan_show_content
  .container
    - if has_role?(:lider)
      -if @clan
        =@clan.clan_approval
        =render @clan
      -else
        .clan_show_content-wrapper
          .jumbotron
            %h1.display-4 #{'Witaj ' + current_user.name + '!'}
            %p.lead Twoje podanie do sojuszu zostało przyjęte!
            %hr.my-4
            %p Nie stworzyłeś/aś jeszcze ogłoszenia klanu, możesz to zrobić teraz, po kliknięciu w przycisk poniżej.
            .request-button
              %span= link_to "Stwórz ogłoszenie klanu", new_clan_path, class: "btn btn-do-vitru ", data: { turbolinks: false }

    - else
      - if @request
        =@request.status
      -else
        .clan_show_content-wrapper
          .jumbotron
            %h1.display-4 Sojusz
            %p.lead Dołącz do sojuszu.
            %hr.my-4
            %p Jeśli jesteś liderem klanu i chcesz do nas dołączyć, złóż podanie do sojuszu. Formularz znajdziesz klikając przycisk poniżej.
            .request-button
              %span= link_to "Podanie do sojuszu", '/podanie', class: "btn btn-do-vitru"

        .clan_show_content-wrapper
          .jumbotron
            %h1.display-4 Klan
            %p.lead Znajdź klan dla siebie!
            %hr.my-4
            %p Nie masz klanu? Zajrzyj na listę klanów w naszym sojuszu!
            .request-button
              %span= link_to "Lista klanów w sojuszu", clans_path, class: "btn btn-do-vitru"



