- provide(:title, 'Klan')

.clan_show_content

  .container


    .request
      = render @clan 


    .request-button.text-center
      - if @clan.previous
        = link_to 'Poprzedni', @clan.previous, class: "btn btn-do-ghostie"
  
      = link_to "Lista Klanów", clans_path, class: "btn btn-do-ghostie"

      - if @clan.next
        = link_to 'Następny', @clan.next, class: "btn btn-do-ghostie"
