<% provide(:title, 'Klan') %>

<% if @user.alliancerequest %>

<div class="clan_show_content">
  <div class="container">


<div class="col-md-8">
  <% if @user.alliancerequest %>
    <h3>Podanie do sojuszu</h3>
    <ul class="alliancerequest">
      <%= render @alliancerequest %>
    </ul>
  <% end %>
</div>
  </div>
</div>

<% else %>

<div class="clan_show_content">


<div class="container">

<h2> Prowadzisz klan w Warframe i chcesz dołączyć do naszego sojuszu? Skorzystaj z formularza!</h2>


      <span><%= link_to "Stwórz podanie do sojuszu", new_clan_path %>

</div>

</div>
<% end %>
