- provide(:title, 'Klan')

.clan_show_content

  .container



    .request
      = render @clan 


    .request-button.text-center
      - if @clansapproved.previous(@clan)
        = link_to 'Poprzedni', @clansapproved.previous(@clan), class: "btn btn-do" 
  
      = link_to "Lista Klanów", clans_path, class: "btn btn-do" 

      - if @clansapproved.next(@clan)
        = link_to 'Następny', @clansapproved.next(@clan), class: "btn btn-do" 
