<% provide(:title, 'Klan') %>

<div class="clan_show_content">

<div class="container">



  <div class="alliancerequest">
    <%= render @clan %>
  </div>

  <div class="alliancerequest-button text-center">
    <% if @clansapproved.previous(@clan)%>
    <%= link_to 'Poprzedni', @clansapproved.previous(@clan), class: "btn btn-do" %>
    <% end %>

  <%= link_to "Powrót - Lista klanów", clans_path, class: "btn btn-do" %>

  <% if @clansapproved.next(@clan)%>
  <%= link_to 'Następny', @clansapproved.next(@clan), class: "btn btn-do" %>
  <% end %>

  </div>




</div>
</div>
