-provide(:title, 'Edytuj aktualność')

.page-wrapper
  .page-header
    .container
      .row
        .col-md-12
          .news-header
            = render 'form'

            = link_to 'Zobacz', @news, class: 'btn btn-do-main'
            \|
            = link_to 'Wróć', news_index_path, class: 'btn btn-do-main'


