- provide(:title, 'Aktualności')


.news-wrapper.parallax-ghostie
  .container

    =styled_image('warframe-lang.svg', 'news-header-image')
    .actions.text-center.mb-5
      =active_link_to "Wszystkie", { controller: :news, action: :index, id: nil}, remote:true, class: 'btn btn-do-main'
      -if NewsCategory.any?
        -NewsCategory.all.each do |category|
          =active_link_to category.name, { controller: :news, action: :index, id: category.id},  remote:true, class: 'btn btn-do-main'


    #category-content
      = render 'category_news'
      = render 'all_news'




