
- provide(:title, "#{@news.title}")



.page-wrapper.news-background{style: "background-image: url(#{url_for(@news.thumbnail.attachment)})"}
  .page-header.news-show-header
    .row
      .news
        .news-box
          .news-header.text-center
            %h2= @news.title
          .news-description
            .col-md-6.mx-auto
              %p
                Data dodania:
                =@news.created_at.strftime('%F  %T')
              %p
                Autor
                =link_to @news.user.name, @news.user
              %p
                Komentarze:



.page-news-content
  .news-content
    =raw @news.content
