
- provide(:title, 'Lista podań') 
.page-wrapper
  .page-header
    = select_tag(:scope_name, options_for_select([['All Requests', 'all'], ['Approved Requests', 'approved'], ['Pending Requests', 'pending'], ['Declined Requests', 'declined']]))

.request-index

  .container
    = @scope_name.titleize
    - @records.each do |record|
      =render 'single_request', :request => record
