- provide(:title, 'Sojusz - Panel') 


- if @user.request
  .request_show_content
    .col-md-10.mx-auto
      -if @user.request.approval.nil?
        .request_show_content-wrapper
          %h3 Twoje podanie do sojuszu
          .request
            = render @request

      - else

        - if @user.request.approval
          .request_show_content-wrapper
            %h1
              Podanie do sojuszu zostało
              %span zaakceptowane

            %h1
              Otrzymałeś rangę
              %span Lider Klanu

            %h2 Możesz teraz przejść do stworzenia ogłoszenia.
            .request-button
              %span= link_to "Panel klanu", pclan_path, class: "btn btn-do-bordered"

        - else

          .request_show_content-wrapper
            %h1 Twoje podanie do sojuszu zostało odrzucone.



- elsif @user.has_role?(:lider)

  .request_show_content-no.parallax-request
    .container
      .request_show_content-wrapper
        %h1 Otrzymałeś/aś rangę lidera klanu, bez stworzenia podania do sojuszu.
        %h2 Możesz przejść do stworzenia ogłoszenia klanu.

        .request-button
          %span= link_to "Stwórz ogłoszenie klanu", new_clan_path, class: "btn btn-do-bordered", data: { turbolinks: false }

-else

  .request_show_content-no.parallax-request
    .container
      .request_show_content-wrapper
        %h1 Prowadzisz klan i chcesz dołączyć do naszego sojuszu?
        %h2 Skorzystaj z formularza!

        .request-button
          %span= link_to "Stwórz podanie do sojuszu", new_request_path, class: "btn btn-do-bordered", data: { turbolinks: false }