= provide(:title, 'Podanie') 

.page-wrapper
  .request-show
    .container
      .row
        .col-md-6.mx-auto
          %h3 Podanie do sojuszu

          .request
            = render @request
      
          .request-button.text-center
            = link_to "Powrót - Lista podań do sojuszu", :back, class: "btn btn-do"
  

      