
#carouselExampleIndicators.carousel.slide.carousel-fade{'data-ride':"carousel"}
  %ol.carousel-indicators
    %li{'data-target':"#carouselExampleIndicators", 'data-slide-to':"0"}.active
    %li{'data-target':"#carouselExampleIndicators", 'data-slide-to':"1"}
    %li{'data-target':"#carouselExampleIndicators", 'data-slide-to':"2"}
    %li{'data-target':"#carouselExampleIndicators", 'data-slide-to':"3"}
    %li{'data-target':"#carouselExampleIndicators", 'data-slide-to':"4"}

  .carousel-inner
    - len = @news.length
    - @news.each_with_index do |news, index|
      .carousel-item{class: "#{index+1 == len ? 'active' : ''}"}
        - if news.thumbnail_blob
          = image_tag url_for(news.thumbnail_blob), class: 'd-block w-100'
        .carousel-caption.d-none.d-md-block
          .carousel-text
            %h5=link_to news.title, news
            =image_tag "#{asset_pack_path('media/images/veil-white.png')}", class: 'veil'
            %p=truncate(sanitize(news.content, tags: []), length: 400)

          .actions
            =link_to 'Dowiedz się więcej', news, class: 'btn btn-do-bordered'




  %a.carousel-control-prev{href:"#carouselExampleIndicators", role:"button", 'data-slide':"prev"}
    %span.carousel-control-prev-icon{'aria-hidden':"true"}
    %span.sr-only Previous

  %a.carousel-control-next{href:"#carouselExampleIndicators", role:"button", 'data-slide':"next"}
    %span.carousel-control-next-icon{'aria-hidden':"true"}
      %span.sr-only Next

