.featured-container
  .row.text-center

    .col-md-3.featured-column
      .featured-body
        %h2 Twitch
        %p Zajrzyj do naszych twórców!
        =link_to 'Twitch', '#', class: 'btn btn-vitru-t'

        .featured-content.mt-5

    .col-md-3.featured-column
      .featured-body
        %h2 Discord
        %p Pogadaj z nami!
        =link_to 'Discord', contact_index_path, class: 'btn btn-vitru-t'

        .featured-content.mt-5
          %h5=@api_name
          %h5
            Użytkownicy online:
            =@api_users.count

          %h5
            Dołącz do nas
            =link_to @api_invite, @api_invite, target: '_blank'

    .col-md-3.featured-column
      .featured-body
        %h2 Klany
        %p Zajrzyj na listę.
        =link_to 'Klany', clans_path, class: 'btn btn-vitru-t'

        .featured-content.mt-5
          %h5 Liczba klanów w sojuszu: 15
          %h5
            Klany zarejestrowane na stronie:
            =@clans.count if @clans.any?

          %h5 Ostatnio zaktualizowany klan:
          =link_to @last_updated_clan[0].name, @last_updated_clan[0], class: 'link-vitru'

    .col-md-3.featured-column
      .featured-body
        %h2 Sojusz
        %p Najnowsze aktualności.
        =link_to 'Aktualności', news_index_path, class: 'btn btn-vitru-t'

        .featured-content.mt-5
          %h5 Najnowsza aktualność:
          %p=link_to @newest_news[0].title, @newest_news[0] if !@newest_news.blank?

          %h5 Najnowszy komentarz:
          %p=link_to truncate(@newest_comment[0].content, length: 100), news_path(@newest_comment[0].commentable_id) if !@newest_comment.blank?

