= provide(:title, 'O Nas')
.page-wrapper
  .content-wrapper
    .container
      .about-us-text
        .images
          =image_tag(asset_pack_path('media/images/all-gold.png'))
          =image_tag(asset_pack_path('media/images/jedno-gold.png'))
        - if @main_about.any?
          - @main_about.each do |about|
            %h1=about.title
            %h2=about.description
            %p=about.content
      - if @about_column_two.any?
        .row.tag
          - @about_column_two.each do |about|
            .col
              .tag-header
                %h2=about.title
              .tag-text
                %p=about.content


    - if @about_column_one.any?
      - @about_column_one.each do |about|
        .content-mozliwosci
          .future
            .container
              .about-us-text
                %h1=about.title
                %h2=about.description
                %p=about.content

