= provide(:title, 'O Nas')
.page-wrapper
  .content-wrapper
    .container
      .about-us-text
        .images
          =image_tag(asset_pack_path('media/images/jedno-ghostie.svg'), class:'ghostie-about-image ')
          =image_tag(asset_pack_path('media/images/jedno-ghostie.svg'), class:'ghostie-about-image ')
        - if @abouts.main.any?
          - @abouts.main.each do |about|
            %h1=about.title
            %h2=about.description
            %p=about.content
      - if @abouts.column_two.any?
        .row.tag
          - @abouts.column_two.each do |about|
            .col
              .tag-header
                %h2=about.title
              .tag-text
                %p=about.content


    - if @abouts.column_one.any?
      - @abouts.column_one.each do |about|
        .content-mozliwosci
          .future
            .container
              .about-us-text
                %h1=about.title
                %h2=about.description
                %p=about.content

= render "layouts/footbar"