= provide(:title, 'O Nas')

.content-wrapper
  .content-onas
    .container
      .about-us-text
        %h1 Zrzeszamy Polskie klany gry Warframe.
        %h2 Dołącz do nas już teraz.
        %p Naszym celem jest zjednoczenie Polskich klanów, zachęcenie do wspólnej gry i zachowania miłej atmosfery. Ideą naszego sojuszu jest stworzenie dobrze rozumiejącej się grupy ogarniętych ludzi, aby to osiągnąć każdy klan musi spełniać wymagania sojuszu takie jak minimalny wiek w klanach oraz obowiązkowy discord. Przyszłość naszego sojuszu tworzą klany, chcąc zadbać o przyszłość sojuszu musimy dbać o siebie nawzajem.
      .row.tag
        .col
          .tag-header
            %h2 Świetna Atmosfera
          .tag-text
            %p= about_text_atmosfera
        .col
          .tag-header
            %h2 Komunikacja
          .tag-text
            %p= about_text_komunikacja
        .col
          .tag-header
            %h2 Rekrutacja
          .tag-text
            %p= about_text_rekrutacja
