= provide(:title, 'Regulamin')

.page-wrapper
  .content-wrapper
    .content-regulamin
      .regulamin-header
        %h1 UMOWA MIĘDZYKLANOWA
        %h2 PRZECZYTAJ UWAŻNIE, ZANIM POSTANOWISZ DO NAS DOŁĄCZYĆ.
      .regulamin-tekst
        .container.reg-cont
          .row
            %ul.list-group.list-group-flush.text-center.reg-box
              - if @rules.any?

                - @rules.each do |r|
                  %li.list-group-item.p-5.mt-5
                    %p=r.content





          %ul.nav.nav-pills.mb-3#pills-tab{role:"tablist"}
            %li.nav-item
              %a.nav-link.active{id:'pills-home-tab', 'data-toggle':"pill", href:"#pills-home", role:"tab", 'aria-controls':"pills-home", 'aria-selected':"true"} Umowa Międzyklanowa

            %li.nav-item
              %a.nav-link{id: 'pills-profile-tab','data-toggle':"pill", href:"#pills-profile", role:"tab", 'aria-controls':"pills-profile", 'aria-selected':"false"} Regulamin czatu




          .tab-content#pills-tabContent
            .tab-pane.fade.show.active{id: 'pills-home', role:"tabpanel", 'aria-labelledby':"pills-home-tab"} ...
            .tab-pane.fade{id: 'pills-profile', role:"tabpanel", 'aria-labelledby':"pills-profile-tab"} ...
            .tab-pane.fade{id:"pills-contact", role:"tabpanel", 'aria-labelledby':"pills-contact-tab"} ...
