<% provide(:title, 'Stwórz podanie') %>

<div class="page-wrapper">

<div class="page-content">

<div class="container">
  <div class="row">
        <%= render 'alliancerequest_form' %>
    </div>
</div>

</div>
</div>