<% provide(:title, 'Create') %>




  <% if @user.alliancerequest %>

    <div class="alliancerequest_show_content">
      <div class="container">




        <div class="col-md-10 mx-auto text-center">
          <% if @user.alliancerequest.approval.nil?  %>

          <div class="alliancerequest_show_content-wrapper">

          <h2>Podanie do sojuszu oczekuje na akceptację przez administrację sojuszu.</h2>

          <h3>Podanie do sojuszu</h3>
          <div class="alliancerequest">
            <%= render @alliancerequest %>
          </div>

        </div>

            <%  else  %>


                        <% if @user.alliancerequest.approval  %>

                        <div class="alliancerequest_show_content-wrapper">

                          <h1>Podanie do sojuszu zostało <span>zaakceptowane</span></h1>
                          <h1>Otrzymałeś rangę <span>Lider Klanu</span></h1>
                          <h2>Możesz teraz przejść do stworzenia ogłoszenia.</h2>
                            <div class="alliancerequest-button">
                          <span><%= link_to "Panel klanu", klan_path, class: "btn btn-do-bordered" %>
                          </div>
                        </div>

                        <%  else  %>

                        <div class="alliancerequest_show_content-wrapper">

                          <h1>
                            Twoje podanie do sojuszu zostało odrzucone.
                          </h1>

                        </div>

                        <%  end  %>



            <% end %>

          </div>
        </div>
      </div>

    <% else %>

      <div class="alliancerequest_show_content">

        <div class="container">

        <div class="alliancerequest_show_content-wrapper">

            <h1>
              Prowadzisz klan i chcesz dołączyć do naszego sojuszu?</h1>
            <h2>Skorzystaj z formularza!</h2>

            <div class="alliancerequest-button">
              <span><%= link_to "Stwórz podanie do sojuszu", new_alliancerequest_path, class: "btn btn-do-bordered" %>
              </div>

            </div>

          </div>

        </div>
      <% end %>
