<div class="alliancerequest-show">



<div class="container">

<div class="row">


<div class="col-md-6 mx-auto">

    <h3>Podanie do sojuszu</h3>
    <div class="alliancerequest">
      <%= render @alliancerequest %>
    </div>

<div class="alliancerequest-button text-center">
<%= link_to "Powrót - Lista podań do sojuszu", :back, class: "btn btn-do" %>
</div>

</div>


</div>
</div>


</div>
