// Place all the styles related to the Sojusz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// BIG FONTS
$def-h1: 6rem;
$def-h2: 4rem;
$def-h3: 1rem;



// MEDIA QUARRIES MIXINS
// Extra small devices (phones, less than 479px)





// Featured -- Twitch / Discord / Clans / Alliance
.featured-container {
  position: relative;
  padding: 100px 0;


  @include sm-d {
    &::before{
      display: none;
    }

  }
  @include md-d {
    &::before{
      display: none;
    }
  }

&::before{
  content: "";
  position: absolute;
  width:100%;
  height:100%;
  left:0;
  bottom:0;
  right:0;
  top:0;
  background-position: bottom;
  background: url('../images/banner-ghostie2.svg');
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: bottom;
}

  .row {
    margin: 0;
    padding: 0;

    .featured-column {

      @include sm-d {
        height: 700px;
        padding: 50px 0px;
      }
      @include md-d{
        height: 700px;
        padding: 50px 0px;
      }

      transition: .3s;
      transform: translateY(0);

      &:hover {
        transition: .3s;
        transform: translateY(10px);

        .featured-body {
          border-radius: 5px;
          -webkit-box-shadow: 0px 30px 97px -9px rgba(0, 0, 0, 1);
          -moz-box-shadow: 0px 30px 97px -9px rgba(0, 0, 0, 1);
          box-shadow: 0px 30px 97px -9px rgba(0, 0, 0, 1);
          padding: 30px;
          transition: .3s;
          background: rgba(48, 49, 56, 0);
          border-color: $ghostie-light;
          @include bg-pan-tl;

        }
      }

      height: 400px;

      .featured-body {
        border: 1px solid $ghostie-opacity;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $ghostie-blue-bg;
        background-position: center;
        background-size: 150%;
        transition: background-position 6s;
        background-image: url('../images/sm-banner-ghostie.svg') !important;
        background-repeat: no-repeat;
        padding: 20px;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 0px 0px 91px -11px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 91px -11px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 91px -11px rgba(0, 0, 0, 1);

        @include sm-d {
          padding: 50px 30px;
        }
        @include md-d{
          padding: 50px 30px;
        }


        .featured-header {
          h2 {
            font-size: 2em;
            color: $ghostie;
            font-family: 'Marcellus', serif;
            text-transform: uppercase;
            }

          @include sm-d {
            a{
              font-size: 2em;
            }
            h2 {
              font-size: 4em;
            }

            p{
              font-size: 2em;
            }

          }
          @include  md-d {
            a{
              font-size: 2em;
            }
            h2 {
              font-size: 4em;
            }

            p{
              font-size: 2em;
            }
          }

        }

        .featured-content {
          @include sm-d {
            padding: 30px 15px;
            h5 {
              font-size: 3em;
            }
            p {
              font-size: 2em;
            }
          }
          @include md-d {
            padding: 30px 15px;
            h5 {
              font-size: 3em;
            }
            p {
              font-size: 2em;
            }
          }
          @include lg-d {
            h5 {
              font-size: 1em;
            }
          }

          padding: 20px;
          width: 100%;
        }

        .featured-footer {

        }

      }

    }
  }
}


// CAROUSEL
.carousel-inner {
}

.carousel {
  @include md-d {
    height: 100vh;
  }
}

.carousel-caption {
  background: rgba(23, 22, 26, 0.71);
  left: 0;
  right: 0;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: auto;
  height: 100%;
  bottom: 0;
  top: 0;
  padding: 0;


  .actions {
    position: relative;
    @include md-d {
      text-transform: uppercase;
      margin-top: 150px;
      .btn-do-bordered {
        &:before{
          border: 3px solid $white;
          border-radius: 25px;
      }

      }
      a {
        font-size: 2.5em;
      }
    }
  }


  .carousel-text {
    p {
      font-weight: 400;
      font-family: 'Marcellus', serif;
      @include md-d {
        font-size: 2em;
      }
    }

    .veil {
      margin: 30px 0;
      width: 100px !important;
      height: 50px !important;
      min-width: 300px;
      min-height: 50px;
      opacity: 1;
    }

    width: 80%;
    margin: 0 auto;

    h5 {
      @include md-d {
        font-size: 4em;
      }
      text-transform: uppercase;
      font-size: 2em;
      font-weight: 400;
      font-family: 'Marcellus', serif;
      color: $ghostie-hover;
    }
  }
}

.carousel-item {
  background: rgba(23, 22, 26, 0.71);
  height: 600px;

  @include md-d {
    height: 100vh;
  }

  img {
    @include md-d {
      object-fit: cover;
      object-position: center;
      height: 100vh;
    }
    min-width: 100%;
    min-height: 100%;
    -o-object-fit: contain;
    margin: auto;
    opacity: .3;
  }
}


.parallaxlang {
  background-image: url('../images/orolang-sm.png');

  height: 100%;

  /* Create the parallax scrolling effect */
  background-position: top;
  background-repeat: no-repeat;

}

// PARALLAX SCROLLING
.parallax {
  /* The image used */
  background-color: $darkbg;

  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


// Sojusz index.html
.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

//  HEADER WRAPPER


.header-wrapper {
  margin: 0 auto;
  flex-direction: column;
  color: #fff;
  width: 100%;
  position: relative;
  height: 100%;
  background-color: #0e0e0e;
  opacity: .9999;
  overflow: hidden;

}




@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg) ; }
  to { -moz-transform: rotate(360deg) ; }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg);  }
  to { -webkit-transform: rotate(360deg) ; }
}
@keyframes spin {
  from {transform:rotate(0deg) ;}
  to {transform:rotate(360deg) ;}
}


// header image
.header-image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  @include ghostie-bg;


}

.header-body-wrapper {
  height: 100%;
  display: flex;
  width: 100%;
  background-color: #17161a;
}

// HEADER BODY
div.header-body {
  z-index: 9999;
  flex-grow: 1;
  align-self: center;
  text-align: center;
  font-family: 'Marcellus SC', serif;
  font-weight: 100;


  h1 {
    @include h1-font-mediaQ;
    color: $ghostie;
    font-family: 'Marcellus', serif;
    font-weight: 400;
    letter-spacing: 2rem;
    text-transform: uppercase;
  }

  h2 {
    font-size: $def-h2;
    color: #ececec;
  }

  h3 {
    font-weight: 400;
    color: #9a9a9a;
    font-size: 2rem;
    padding: 50px 0;
    @include sm-d {
      font-size: 3em;
      padding: 30px 0;
    }
    @include  md-d {
      font-size: 3em;
      padding: 30px 0;
    }
  }
}

.content-dusze {
  padding-top: 100px;
  padding-bottom: 150px;
  width: 100%;

  background: $darkbg;
}

.content-onas {
  z-index: 10;
  background: $darkbg;
}


.dolacz {
  padding-top: 50px;

}


// content

.content-wrapper {
  color: #ffff;
}

// Content model index.html
.content-model {
  background-color: transparent;
}

.content-body {
  background-color: transparent;
  width: 100%;
}

.content-title {
  text-align: center;
}

.content-title h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
}


// about-us-text

.ghostie-about-image {
  width:50%;
}

.about-us-text {
  padding: 100px 0px 100px 0px;

  .images {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @include sm-d {
    .images {
      display: flex;
      flex-direction: row;
      img{
        width:50%;
        height: 50%;
      }
    }

    h1 {
      padding: 20px 0;
      font-size:5em;
    }
    h2 {
      font-size: 3em;
      padding-bottom: 20px;
    }
    p {
      font-size: 2em;
    }

  }
  @include md-d {
    .images {
      display: flex;
      flex-direction: row;
      img{
        width:50%;
        height: 50%;
      }
    }
    h1 {
      padding: 20px 0;
      font-size: 5em;
    }
    h2 {
      padding-bottom: 20px;
      font-size: 3em;
    }
    p {
      font-size: 2em;
    }
  }

  h1, p {
    text-align: center;
  }

  h2 {
    text-align: center;
    color: $ghostie;
  }
}

.tag {

  padding-top: 25px;
  padding-bottom: 50px;

  @include sm-d {
    .tag-col {
      padding: 50px 0;
    }
  }

  @include md-d {
    .tag-col {
      padding: 50px 0;
    }
  }

  &-header {
    text-align: center;
    color: $ghostie;

    @include sm-d {
      h2 {
        font-size: 4em;
      }
    }

    @include md-d {
      h2 {
        font-size: 4em;
      }
    }

  }

  &-text {
    text-align: center;
    @include sm-d {
      font-size: 2em;
    }

    @include md-d {
      font-size: 2em;
    }

  }
}

// REGULAMIN

.content-regulamin {

}


.regulamin-header {
  text-align: center;

  h1 {
    font-size: 3em;
    color: #fff;
  }

  h2 {
    font-size: 2em;
    color: $ghostie;
  }
}

.regulamin-tekst {
  padding-top: 50px;
  text-align: justify;
}

.reg-cont {
  padding-bottom: 100px;
}

.reg-box {
  padding: 50px;

  li.list-group-item {
    background: $darkbg;
    border: 0;
    transition: .3s;
    z-index: 5;

    p {
      z-index: 20;
    }

    &::after {
      z-index: -2;
      transition: .3s;
      content: '';
      background: $ghostie;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    &:hover {
      transition: .3s;

      &::after {
        z-index: -2;
        transition: .3s;
        content: '';
        background: $ghostie;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }

}

.reg-row {

}

.col {


  &-bright {
    background-color: rgb(8, 8, 8);
  }


}



// Informacje
.informacje-container {

  .jumbotron {
    width:80%;
    margin: 0 auto;
    background: $ghostie-trans-bg;
    @include container-shadow;

  }

}

.jumbotron-content {
  width:100%;
  @include container-shadow;
  background: $gradient;
  color: $white;
  hr {
    border-color: rgba(204, 204, 204, 0.41);
  }
  i {
    font-size: 2em;
  }
  h1{
    font-size: 2em;
  }
  // container with contact
  .contact {
    text-align: center;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .credits {
    span{
      color: $ghostie;
    font-weight: 700;
    }
  }



}