// Place all the styles related to the Sojusz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// BIG FONTS
$def-h1: 6rem;
$def-h2: 4rem;
$def-h3: 1rem;

// MEDIA QUARRIES BREAKPOINTS
$ex-sm-width: 479px;
$sm-width: 767px;
$md-width: 991px;
$lg-width: 1200px;


// MEDIA QUARRIES MIXINS
// Extra small devices (phones, less than 479px)


// Small devices (tablets, 479px t)
@mixin sm-d {
  @media (min-width: #{$ex-sm-width}) and (max-width: #{$sm-width}) {
    @content;
  }
}

@mixin md-d {
  @media (min-width: #{$sm-width}) and (max-width: #{$md-width}) {
    @content;
  }
}

@mixin lg-d {
  @media (min-width: #{$md-width}) and (max-width: #{$lg-width}) {
    @content;
  }
}

@mixin ex-lg-d {
  @media screen and (min-width: #{$lg-width}) {
    @content;
  }
}

// H1 Font - Media Quarry MIXIN
@mixin h1-font-mediaQ {
  @include sm-d {
    font-size: 2rem;
  }
  @include md-d {
    font-size: 4rem;
  }
  @include lg-d {
    font-size: 5rem;
  }
  @include ex-lg-d {
    font-size: 6rem;
  }
}


// CAROUSEL
.carousel-inner {
}

.carousel-caption {
  background: rgba(23, 22, 26, 0.71);
  left: 0;
  right: 0;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: auto;
  height: 100%;
  bottom: 0;
  top: 0;
  padding: 0;


  .actions {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 100px;
  }


  .carousel-text {
    p {
      font-weight: 400;
      font-family: 'Marcellus', serif;
    }

    img.veil {
      margin: 30px 0;
      width: 100px !important;
      min-width: 400px;
      height: 50px !important;
      min-height: 100%;
      opacity: 1;
    }

    width: 80%;
    margin: 0 auto;

    h5 {
      text-transform: uppercase;
      font-size: 2em;
      font-weight: 400;
      font-family: 'Marcellus', serif;
      color: $yell-hov;
    }
  }
}

.carousel-item {
  background: rgba(23, 22, 26, 0.71);
  height: 600px;

  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    margin: auto;
    opacity: .3;
  }
}


.parallaxlang {
  background-image: url('../images/orolang-sm.png');

  height: 100%;

  /* Create the parallax scrolling effect */
  background-position: top;
  background-repeat: no-repeat;

}

// PARALLAX SCROLLING
.parallax {
  /* The image used */
  background-color: $darkbg;

  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


// Sojusz index.html
.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

//  HEADER WRAPPER


.header-wrapper {
  margin: 0 auto;
  flex-direction: column;
  color: #fff;
  width: 100%;
  position: relative;
  height: 100%;
  background-color: #0e0e0e;
  opacity: .9999;
  overflow: hidden;
}


.kenburns-top {
  -webkit-animation: kenburns-top 18s ease-out infinite alternate-reverse forwards;
  animation: kenburns-top 18s ease-out infinite alternate-reverse forwards;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-5 10:44:20
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}


// header image
.header-image {

  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0.8;
  background-image: url('../images/vitru-bg.jpg');

}

.header-body-wrapper {
  height: 100%;
  display: flex;
  width: 100%;
  background-color: #0e0e0e;
}

// HEADER BODY
div.header-body {
  z-index: 9999;
  flex-grow: 1;
  align-self: center;
  text-align: center;
  font-family: 'Marcellus SC', serif;
  font-weight: 100;


  h1 {
    @include h1-font-mediaQ;
    color: $vitruvian;
    font-family: 'Marcellus', serif;
    font-weight: 400;
    letter-spacing: 2rem;
    text-transform: uppercase;
  }

  h2 {
    font-size: $def-h2;
    color: #ececec;
  }

  h3 {
    font-size: $def-h3;
    font-weight: 400;
    color: #9a9a9a;
  }

}

.content-dusze {
  padding-top: 100px;
  padding-bottom: 150px;
  width: 100%;

  background: $darkbg;
}

.content-onas {
  z-index: 10;
  background: $darkbg;
}


.dolacz {
  padding-top: 50px;
}


// content

.content-wrapper {
  color: #ffff;
}

// Content model index.html
.content-model {
  background-color: transparent;
}

.content-body {
  background-color: transparent;
  width: 100%;
}

.content-title {
  text-align: center;
}

.content-title h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
}


// about-us-text

.about-us-text {
  padding: 100px 0px 100px 0px;

  h1, p {
    text-align: center;
  }

  h2 {
    text-align: center;
    color: $vitruvian;
  }
}

.tag {

  padding-top: 25px;

  &-header {
    text-align: center;
    color: $vitruvian;
  }

  &-text {
    text-align: center;
  }
}

// REGULAMIN

.content-regulamin {

}


.regulamin-header {
  text-align: center;

  h1 {
    font-size: 3em;
    color: #fff;
  }

  h2 {
    font-size: 2em;
    color: $vitruvian;
  }
}

.regulamin-tekst {
  padding-top: 50px;
  text-align: justify;
}

.reg-cont {
  padding-bottom: 100px;
}

.reg-box {
  padding: 50px;

  li.list-group-item {
    background: $darkbg;
    border: 0;
    transition: .3s;
    z-index: 5;

    p {
      z-index: 20;
    }

    &::after {
      z-index: -2;
      transition: .3s;
      content: '';
      background: $vitruvian;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    &:hover {
      transition: .3s;

      &::after {
        z-index: -2;
        transition: .3s;
        content: '';
        background: $vitruvian;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }

}

.reg-row {

}

.col {


  &-bright {
    background-color: rgb(8, 8, 8);
  }


}
