// Place all the styles related to the Klan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  &.clans-body {

    height: auto !important;

  }
}


.clan_form {

  textarea {
    color: #fff;
  }


  .form-control {
    border: none;
    background: $darkbg;
  }

  select option {
    border: none;
    background-color: rgba(23, 22, 26, 0.9) !important;
    color: #fff !important;
  }

}


.clan_show {

  &_content {

    padding: 150px 0 50px 0;

    h1 {
      color: $white;
      font-size: 2em;

      span {color: $vitru;}
    }

    &-wrapper {

      padding: 50px 0 50px 0;
      text-align: center;

      h1 {
        font-size: 2em;
        color: $white;
      }

      h2 {
        color: $vitru;
        font-size: 1.25em;
      }

      .jumbotron {
        background: $vitru-trans-bg;
        @include container-shadow;
      }
    }

  }


  &-about {
    background-color: $darkt;
    padding: 40px;
  }

  &_head {
    padding: 0 0 50px 0;

    h2 {
      font-weight: 700;
      font-size: 3em;
    }
  }

  &-header {
    -webkit-box-shadow: 0 0 96px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 96px -21px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 96px -21px rgba(0, 0, 0, 0.75);

    padding: 45px;
    background-color: $darkt;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid $vitru;

    .clan-logo {
      max-width: 120px;
      max-height: 120px;
    }

    .clan-logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }


  &-contact {
    text-align: center;
    background-color: $darkt;
    border-bottom: 2px solid $vitru;

    .recruitment-status {
      padding: 10px 0px;
      border-bottom:  2px solid $vitru;
      h5 {
        padding: 0;
        margin: 0;
        color: $vitru;
      }
    }

    .btn-clan {
      &:before {
        color: $vitru;
        margin: 0;
        border-bottom: none !important;
        border-top: none !important;
      }
    }
  }
}


.clan_form {
  padding: 50px 0 50px 0;


  .form-control {
    color: $white;
  }

  label {
    color: $vitru;
  }

  input, textarea, select {
    background-color: transparent;

    &:focus, :active {
      background-color: transparent;
    }

    option {
      color: $darkbg;
    }

  }

  &-btn {
    margin: 0 !important;
  }

  &-header {
    padding: 45px;
    background-color: $darkbg;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid $yell;

    h1 {
      font-size: 1.5em;
    }
  }

  &-errors {
    transition: 1s;
    padding: 45px;
    background-color: $darkbg;
    border-bottom: 2px solid $yell;
  }

  &-about {
    background-color: $lightshadow;
    padding: 40px;

    input {
      background: $darkt;
    }
  }

}


.form_header-tag {
  display: flex;

  img {
    position: relative;
    width: 30%;
    height: auto;
  }

  h2 {
    text-align: center;
    font-size: 1.5em;
    padding: 20px 0 20px 0;
  }
}


.clan-body {
  text-align: center;
}


.clan_content-wrapper {


  p {
    color: rgb(217, 217, 217);
  }

  h1 {
    font-size: 18px;
    font-weight: 700;
    color: $vitru;

  }
}

.clan-approval-pending {
  width: 100%;
}

.clan-content {

  padding: 25px;
  background-color: transparent;
  overflow: hidden;

  &:before {
    transition: .4s;
    content: '';
    background: $darkbg;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid $vitru-dark;
    left: 0;
    width: 95%;
    height: 95%;

    -webkit-box-shadow: 10px 10px 44px -14px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 10px 10px 44px -14px rgba(0, 0, 0, 0.51);
    box-shadow: 10px 10px 44px -14px rgba(0, 0, 0, 0.51);

  }


  &:hover {
    transition: .4s;

    .clan-content-image {
      transition: .4s;
      transform: translateY(0px);
    }

    .clan-content-buttons {
      opacity: 1;
      transition: .4s;
      text-align: center;
      transform: translateY(0px);
    }

    .clan-content-text {
      transition: .4s;
      transform: translateY(0px);
      opacity: 1;

      .clan-recruitment-open{
        color: #5cb85c;
      }
      .clan-recruitment-close{
        color: rgba(255, 0, 0, 0.55);
      }
    }

    &:before {
      transition: .4s;
      content: '';
      background: transparent;
      border: 2px solid transparent;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: none;
    }
  }


  &-image {

    transition: .4s;
    transform: translateY(100px);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;

    img {
      max-width: 128px;
      max-height: 128px;
      z-index: 100;
    }
  }

  &-text {
    transition: .2s;
    transform: translateY(150px);
    text-align: center;
    padding-bottom: 20px;
    opacity: 0;

    h1 {
      padding-bottom: 10px;
    }

    h2 {
      color: $vitru;
    }

    span {
      color: rgb(204, 204, 204);
    }

  }

  &-buttons {
    transition: .2s;
    opacity: 0;
    text-align: center;
    transform: translateY(150px);
  }

}


.clan_new_content {
  padding: 150px 0 150px 0;

  h1 {
    color: $white;
    font-size: 2em;
    text-align: center;
  }
}


.clan-index {
  min-height: 100vh;
  display: flex;
  padding: 150px 0;
  justify-content: center;
  align-content: center;
  align-items: center;

  @include md-d {
    .clan_index_container {
     max-width: 80% !important;
    }

  }


  .no-clans-pending {
    padding-top: 50px;
  }

  .col-md-8 {
    padding: 150px 0 150px 0;
  }


  h1 {
    font-size: 22px;
    font-weight: 700;
  }

  h4 {
    font-size: 40px;
    color: $white;
  }

  h2 {
    color: #d9d9d9;
    font-size: 15px;
    font-weight: 400;

    span {
      font-weight: 400;
    }
  }

  .clan-col {
    background-color: rgba(#17161a, 0.5);
    -webkit-box-shadow: 10px 10px 44px -14px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 10px 10px 44px -14px rgba(0, 0, 0, 0.51);
    box-shadow: 10px 10px 44px -14px rgba(0, 0, 0, 0.51);

    h2 {
      color: $vitru;
      font-size: 15px;
      font-weight: 400;
    }

  }


}
