// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// single comment div /_comment

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}



.comment{
  width:100%;

  textarea {
    color: $white;
  }


  .media-body {
    .far.fa-heart {
      color: $vitru;
    }
  }

  .media {
    align-items: top;

    .user_comment_image {
      max-width: 60px;
      margin-right: 20px;
    }
  }

  .list-group-item {
    border: 1px solid $vitru-opa;
    background: transparent;
    @include container-shadow;
  }
  // submit button comment /_form
  .actions {
    padding-top: 0;
  }

  p {
    color: $white;
    font-family: 'Marcellus', serif;
  }
}

// text area comment /_form
.comment-form-control {
  width:100%;
  padding: 10px;
  background: transparent;
  border: 1px solid $vitru-dark;
  border-bottom: 5px solid $vitru;
  color: $white;
}

.nested-comment {
  margin: 25px;
}

// submit button comment /_form
.actions {
padding-top: 25px;
}