// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.news-body {
  height: 80vh;
@include md-d {
  height: 100%;
}
  font-family: 'Marcellus SC', serif;
  background: $darkbg;
  background-image: none;
}


.page-news-content{
  background: $darkbg;
}


// News index pagination
.news-index-pagination {
  //disabled page item
  .page-item.disabled .page-link {
    background: $darkbg;
    border-color: $vitru-dark;
  }
  //active page item
  .page-item.active .page-link {
    color: $vitru;
    background: $vitru-dark;
    border-color:  $vitru-trans-bg;
  }

 // normal page link
 .page-link {
   background: $darkbg;
   color: $vitru;
   border-color: $vitru-dark;

   &:hover{
     background: $vitru-dark;
     color: $white;
     border-color:  $vitru-opa;
   }
 }
}

.news-show-header {
  text-align: center;
  z-index: 10;
  padding: 100px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  left: 0;

  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 4em;
    z-index: 9;
  }

}


.page-header {
  text-align: center;
  padding: 100px 0;
  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 4em;
    z-index: 9;
  }

}

.news-background {
  position: relative;
  @include md-d {
    height: 50%;
    background-size: contain;
    background-position: top;
  }

    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  &::after {
    display: block;
    position: absolute;

    background-image: linear-gradient(0deg, rgba(23,22,26,1) 0%, rgba(23,22,26,1) 37%, rgba(23,22,26,0) 100%, rgba(0,0,0,0) 100%);
    top:0;
    height:100%;
    width: 100%;
    content: '';
  }

  .row {
    margin: 0;
    padding: 0;
  }
}




.news-wrapper {
padding: 100px 0px 100px 0px;

  .news-header-image{
    margin: 0 auto;
    display: flex;
  }

  .container {
    max-width:90% !important;
  object-fit: fill;
  }



}


img.card-img-top {
  max-height: 295px;
}

p.card-text {
  color: $darkt;
}

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {

  .card-deck-wrapper {margin-right:0;margin-left:0;}
  .card-deck {
    display: block;
    width: 100%;
    margin-bottom: .75rem;
    table-layout: fixed;
    border-spacing: 1.25rem 0;
  }
  .card-deck .card {
    display: block;
    margin-bottom: .75rem;
    vertical-align: top;
  }

  .card-deck .card:not(:first-child) {
    margin-left: 0px;
  }

}

//
// EDIT NEWS
//
form.edit_news, .new_news {
  .form-control {
    background: $vitru-dark;
  }
}


//
// SHOW NEWS
//
.page-news-other {
background: $darkbg;
  .news-other-container {
    padding: 50px 0;
    width:90%;
    margin: 0 auto;
  }
}

.news-show-card {
  .news-show-img {
    min-height: auto;
    -o-object-fit: cover;
    max-height: 224px;
    object-fit: cover;
    max-width: 398px;
  }

  .card-body{
    .card-title {
      font-size: .9em;
    }
    .card-text {}
    font-size: .9em;
  }

}


.news {
  width:100%;
  .news-box {
    width:90%;
    margin: 0 auto;
    padding: 100px 0;

  }



  .news-header {
    padding: 25px;

    @include md-d {
      h2 {
        font-size:4em;
      }
    }

  }

  .news-description {

    align-content: center;
    height:50px;
    width:100%;

    p {
      margin: 0;
      padding: 10px;
      @include md-d {
        font-size: 2em;
      }
    }

  }

}

.news-content{
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  background: $darkbg;
  background-image: none;
  width:80%;
  margin: 0 auto;
  text-align: left;
 padding: 100px 0;
  @include md-d {
    p {
      font-size: 3em;
    }
  }

}

.news-comments {
  // top box shadow
  -webkit-box-shadow: 0px 6px 49px 6px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 6px 49px 6px rgba(0,0,0,0.25);
  box-shadow: 0px 6px 49px 6px rgba(0,0,0,0.25);

  background: $darkbg;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 100px 0;

  &-form {
    padding-top: 50px;
  }

  &-box {
    width:80%;
    margin: 0 auto;
    padding: 25px;
  }
}


.card {
  border: 5px solid $vitru-trans-bg;
  background: transparent;
  border-bottom: 10px solid $vitru-trans-bg;

  -webkit-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.32);
  box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.32);
}



.card-footer{
  background: $vitru-trans-bg;
  display: flex;
  justify-content: space-between;
}

.card-body {

  background: $darkbg;

  p {
    color: $white;
  }


    .author {
      float:right !important;
    }


  .card-title {
    color: $vitru;
  }

}


