// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.request_form .form-control {
  border: none;
}

.request_form label {
  color: $ghostie;
}


.request_form select option {
  border: none;
  background-color: rgba(23, 22, 26, 0.9) !important;
  color: #fff !important;
}


body {

  &.requests-body {
    height: auto !important;
    min-height: 100vh;

  }

}

select.select-request {
  padding: 5px;
  background: $darkbg;
  color: $white;
  border: 2px solid $ghostie-dark;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.2em;
  &:focus {
    outline: $ghostie auto 5px;
  }
  option {
    border: none;
  }
}





.request_show_content-no {
  padding: 0;

  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;

  .container {
    background: $darkt;
    padding: 50px;
  }

  h1 {
    color: $white;
    font-size: 2em;

    span {
      color: $ghostie;
    }
  }

  &-wrapper {
    padding: 50px;

    h3 {
      font-size: 3em;
      color: $white;
      text-align: center;

    }

    h1 {
      font-size: 2em;
      color: $white;
      text-align: center;

    }

    h2 {
      color: $ghostie;

      text-align: center;
      font-size: 1.25em;
    }
  }
}


.request_show_content {
  padding-top: 100px;

  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;

  .container {
    background: $ghostie-shadowy;
    @include container-shadow;
    padding: 50px;
  }

  h1 {
    color: $white;
    font-size: 2em;

    span {
      color: $ghostie;
    }
  }

  &-wrapper {

    padding: 50px;
    @include md-d {
      padding: 0;
    }

    h3 {
      font-size: 3em;
      color: $white;
      text-align: center;
      @include md-d {
        font-size: 5em;
      }
    }

    h1 {
      font-size: 2em;
      color: $white;
      text-align: center;
      @include md-d {
        font-size: 3em;
      }
    }

    h2 {
      color: $ghostie;
      text-align: center;
      font-size: 1.25em;
      @include md-d {
        font-size: 3em;
        padding: 20px;
      }
    }
  }

}

.user-box {
  display: flex;
}


.request-button {
  padding-top: 25px;
  text-align: center;
  a {
    @include md-d {
      font-size: 2em;
    }
  }
}


.request_form {
  width: 100%;
  padding: 50px 0px 50px 0px;


  .actions {
    padding-top: 50px;
    text-align: center;
  }

  input {
    background-color: rgba(12, 12, 12, 0.35)
  }
  select {
  background-color: rgba(12, 12, 12, 0.35);
  color: $ghostie-shadow !important;
    padding: 0;
    text-indent: 15px !important;
  }

  option {
    color: $darkbg !important;
  }

  .form-control:focus {
    color: #fff;
  }

  .form-control {
    color: #d9d9d9;
    border-bottom: 5px solid $ghostie-opacity;
    text-indent: initial

  }

  .form-group {
    padding: 10px;
  }

}

.request_regulamin {
  padding-bottom: 50px;

  .jumbotron {
    background: $ghostie-shadowy;
  }

  h1 {

    font-size: 22px;
    font-weight: 700;
  }
}


.request-index {


  h1 {

    font-size: 22px;
    font-weight: 700;
  }

  h4 {
    font-size: 40px;
  }

  h2 {
    color: $white;
    font-size: 15px;
    font-weight: 700;

    span {
      font-weight: 400;
    }
  }

  p {

  }


  .request-col {
    padding: 25px;

    .request-inside-col {
      background: $darkbg;
      border: 2px solid $ghostie-opacity;
      @include container-shadow;
      padding: 25px;
    }

  }


}

// request partial


.request {

  padding-top: 50px;

}



.request-actions {
  text-align: center;
  color: $white;
  width: min-content;
  display: flex;
  margin: 50px auto;
  flex-direction: row;
  justify-content: center;
  background:$darkbg;
  height: min-content;
}

.request-body {
  text-align: center;

  .table{
    background: $ghostie-trans-bg;
    @include bottom-shadow;
    color: $white;
  }

  &-about {
    h1 {
      text-align: center;
    }

    padding-top: 50px;
  }
}


// checkboxes div
.checkboxes {
  padding: 20px 0px 20px 0px;

}


label.rules_check {

  text-align: center;
}

label.discord_check {

  text-align: center;
}
