// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {

  &.users-body {
    height: auto !important;

  }

}

.parallax-users {
  /* The image used */
  background-image: url('../images/vitru-bg.jpg');
  height: 100%;
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*
********
PROFILES
********
*/

// Profile container
.profile-container {
  width: 100%;
  padding: 50px 0px 50px 0px;

  @include md-d {
    height: 100vh;
    padding: 0;
    align-items: center;
    display: flex;

  }
}


.user_comments {
  table {
    color: $white;
    td {
      text-align: left;
    }
    th{
      border-bottom: 5px solid $vitru-dark;
    }
  }
}

.user_details {
  padding-top: 40px;

  @include md-d {
    width: 50%;
    margin: 0 auto;
    padding: 0;
  }

  p {
    color: $vitru;
    font-size: 1em;

    @include md-d {
      padding: 5px;
    }

    span {
      padding-left: 10px;
      font-family: 'Marcellus', serif;
      font-weight: 400;
      font-size: .9em;
      letter-spacing: .5px;
      color: $vitru;
    }

  }

  p.active {

    color: $vitru-light;
    font-size: .8em;
    font-weight: 400;
    text-transform: uppercase;
  }
}


/*
********
PANEL
********
*/

.panel-administracja {
  padding: 0px 0px 50px 0px;
}

.options-panel {

  padding: 100px 0px 100px 0px;

  h2 {
    text-align: center;
  }
}


/*
********
REGISTER
********
*/

// mixins
$gray-medium-light: #eaeaea;


.alert {
  text-align: center;
  font-weight: 400;
}


.form-control {
  background-color: transparent;

  &:focus {
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
  }
}


.field {

  @include md-d {
    padding: 20px 0;
    input[type="checkbox"] {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}


/* Users index */

.users {

  padding: 50px 0;

  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;

  h1 {
    padding-bottom: 50px;
  }

  li {
    overflow: auto;
    padding: 10px 20px;
    width: 100%;

  }

  p {
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
}






.form-container {
  padding: 50px 0px 0px 0px;

  @include sm-d {
    label {
      font-size: 2em;
    }
  }
  @include md-d {
    label {
      font-size: 2em;
    }
  }

  .user-actions {
    padding-bottom: 50px;
    text-align: center;
    @include md-d {
      a {
        font-size: 2em;
      }
    }
  }
}


.users-container {
  width: auto;
  margin: 0 auto;
}


input[type="radio"], input[type="checkbox"] {
  width: auto;
}


// USER REGISTER EDIT PAGE

.user-edit-page {
  input {
    background-color: $vitru-dark;
    border: 0;
  }

  .form-control {
    border-bottom: 5px solid $vitru-dark;
  }

  .file-upload-input {
    padding :5px;
  }

  .user-avatar {
    max-width: 120px;
    max-height: 120px;
  }
  .form-group {
    @include md-d {
      width: 90%;
      max-width: 90%;
      flex: 90%;
    }
  }
}


// LOGIN PAGE



.login-page {
  width: 100%;
  height: 100%;


  .row {
    margin: 0;
    padding: 0;
  }
}

.login-page-cover {
  background: url('../images/nidus-black.png');
  background-position: right;
  width:100%;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;



  @include md-d {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    input[type="submit"] {
      background: $vitru-dark;
    }
    #remember_me{
      font-size: 2em;
    }
  }
}

.login-form-cover {

  display: flex;
  @include sm-d {
    width:100%;
    max-width: 100%;
    flex: 100%;
  }
  @include md-d {
    width:100%;
    max-width: 100%;
    flex: 100%;
  }
}


.login-page-wrapper {
  height: 100%;
  width: 100%;

}

.login-page-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: 0.2;


}



.login-page-content {
  z-index: 9999;
  display: flex;
  width: 100%;

  #error_explanation {
    h2 {
      font-size: .8rem;
    }

    li {
      font-size: .8rem;
    }

    border: 2px solid $vitru;
    padding: 10px 10px;
    margin-bottom: 20px;
    background-color: $darkt;
  }


  //container holding form in users/sing_in
  .form-container {

    @include md-d {
      .form-group {
        flex: 100%;
        max-width: 100%;
      }
    }


    .actions {
      // space between button and remember-me feature
      padding-top: 30px;
      @include md-d {
        .btn{
          font-size:2em;
        }
      }
    }




    .img {
      padding-bottom: 50px;

      img {
        width: 30%;
        @include md-d {
          width: 50%;
        }
      }
    }

    #user_remember_me {
      background: $vitru-dark !important;
      border: 2px solid $vitru;
    }


    .vitruvian-input {
      position: relative;
      i {
        left: 15px;
        bottom: 0;
        height: min-content;
        top: 0;
        margin: auto;
        z-index: 9999;
        position: absolute;
        color: $vitru-text-shadow;
      }
    }

    .input-group {
      // set input group items in column
      flex-direction: column;
      // padding between input groups
      margin: 25px 0;
      @include md-d {
        em {
          font-size: 2em;
        }
      }
    }


    .form-control {
      @include button-shadow;
      text-align:left;
      color: #fff;
      margin: 0 auto;
      transition: .2s;
      border: 2px solid $vitru-dark;
      border-bottom: 5px solid $vitru-dark;
      border-radius: 5px;
      width: 100%;
      background-color: $vitru-dark;
      text-indent: 30px;
      padding: 20px;

      @include md-d {
        width: 100%;
        height: 100px;
        font-size: 2em;
      }

      &:focus {
        border-bottom: 5px solid $vitru-text-shadow;
        transition: .2s;

        -webkit-box-shadow: inset -1px -27px 103px -56px rgba(191, 141, 67, 0.48);
        -moz-box-shadow: inset -1px -27px 103px -56px rgba(191, 141, 67, 0.48);
        box-shadow: inset -1px -27px 103px -56px rgba(191, 141, 67, 0.48);
      }
    }



    text-align: center;

  }




}


//user index


.user-profile-box {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background: $darkt;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: space-around;

  -webkit-box-shadow: 0px 0px 54px -7px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 54px -7px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 54px -7px rgba(0,0,0,0.5);


#user_index_image {
  margin-right: 15px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    height: 80%;
    bottom: 0;
    top: 0;
    right: -20px;
    margin: auto;
    background: $vitru;
    width: 2px;
  }
}

  img.user_index_image {
    box-shadow: 0 0 0 0.2rem rgba(9, 9, 9, 0.25);
    max-height: 60px;
    max-width: 60px;
  }

  .user-profile-name  {
    height: min-content;
    margin-left: 30px;
  }

  .user-ranks {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .btn-do-profile {
      margin: 0 10px;
    }
  }

  .options {
    position: relative;
    align-self: flex-end;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;

  }

}


.index-page-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;


  .index-content {
    padding-top: 150px;
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
  }
}


//SHOW

// Pages content
.user-page-wrapper {

  width: 100%;
  display: flex;
  align-items: center;
  padding: 50px 0px 20px 0px;
  min-height: 100vh;

  @include md-d {
    background-size: cover;
    background-position: center;
    padding: 0;
  }

  // profile user show box 'armour style'
  .col-show-box {

    @include md-d {
      width: 100%;
      margin: 0;
      max-width: 100%;
      min-width: 100%;
      height: 40vh;
    }

  }

  .show-profile-box {



    @include md-d {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        font-size: 2rem;
      }

    .btn-do-profile{
      font-size: 1.2rem;
    }

      h1 {
        font-size: 4rem;
      }
    }

    img {
      box-shadow: 0 0 0 0.2rem rgba(9, 9, 9, 0.25);
    }

    -webkit-box-shadow: 0px 32px 131px -4px rgba(220, 202, 167, 0.04);
    -moz-box-shadow: 0px 32px 131px -4px rgba(220, 202, 167, 0.04);
    box-shadow: 0px 32px 131px -4px rgba(220, 202, 167, 0.04);

    padding: 80px;


    border-radius: 50%;
    background: -moz-linear-gradient(90deg, rgba(220, 202, 167, 0) 0%, rgba(220, 202, 167, 0.3) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(220, 202, 167, 0.3)), color-stop(100%, rgba(220, 202, 167, 0))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(220, 202, 167, 0) 0%, rgba(220, 202, 167, 0.3) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(220, 202, 167, 0) 0%, rgba(220, 202, 167, 0.3) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(220, 202, 167, 0) 0%, rgba(220, 202, 167, 0.3) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(220, 202, 167, 0) 0%, rgba(220, 202, 167, 0.3) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dccaa7', endColorstr='#dccaa7', GradientType=0); /* ie6-9 */
    -webkit-clip-path: polygon(50% 10%, 55% 0, 70% 0, 85% 50%, 70% 100%, 30% 100%, 15% 50%, 30% 0, 45% 0);
    clip-path: polygon(50% 10%, 55% 0, 70% 0, 85% 50%, 70% 100%, 30% 100%, 15% 50%, 30% 0, 45% 0);


  }

  .user-image {
    box-shadow: 0 0 0 0.2rem rgba(9, 9, 9, 0.25);

    max-height: 120px;
    max-width: 120px;
    padding: 10px;
    border: 2px solid $vitru-light;

    @include md-d {
      max-height: 180px;
      max-width: 180px;
    }

  }


}


.profil-show-img img {
  padding-top: 20px;
  width: 30%;
  @include md-d {
    width: 60%;
  }
}


// AVATAR


.user-avatar {
  background-size: cover;
}

//devise shared


.shared-links {
  background: $vitru-dark;
  @include button-shadow;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
  a {
    color: $vitru-text-shadow;
    &:hover{
      text-decoration: none;
      transition: .3s;
    }
  }
  margin-top: 50px;
  @include md-d {
    a {
      font-size: 1.5em;
    }
  }
}





