
#warframe-missions {
  padding: 0;
  width:90%;
  margin: 0 auto;
}

.sortie-container{

  .sortie-box{
    .sortie-header{
      text-align:center;
    }
  }
}


  // warframe alerts
  .alerts-container {
    font-family: 'Marcellus', serif;
    width: 90%;
    padding-top: 100px;
    margin: 0 auto;

    .alerts-list {
      list-style-type: none !important;
      margin: 0;
      padding: 0;


      .list-item {
        padding: 20px;


        .item-body {
          padding: 10px;
          background: $vitru-trans-bg;
        }

        .item-footer {
          padding-top: 20px;

          .reward-thumbnail {
            max-width: 120px;
            height: auto;
          }
        }

      }
    }
  }

