// Place all the styles related to the Alliancerequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.alliancerequest_show_content {
  padding: 150px 0px 50px 0px;

  h1 {
    color: $white;
    font-size: 2em;

    span {
      color: $pinky;
    }
  }

  &-wrapper {

  padding: 50px 0px 50px 0px;

  h3 {
    font-size: 2em;
    color: $white;
    
  text-align: center;
  }
    h1 {
      font-size: 2em;
      color: $white;
      
    text-align: center;
    }
    h2 {
      color: $pinky;
      
    text-align: center;
      font-size: 1.25em;
    }
  }

}

.user-box {
  display:flex;
}



.alliancerequest-button {
  padding-top: 25px;
  text-align: center;
}


.alliancerequest_form {
padding: 50px 0px 50px 0px;



}

.alliancerequest_regulamin {
padding-bottom: 50px;
  h1 {
   
    font-size: 22px;
    font-weight: 700;
  }
}


.alliancerequest-index {

  .col-md-8 {
    padding: 150px 0px 150px 0px;
  }

padding: 100px 0px 100px 0px;
  h1 {

font-size: 22px;
font-weight: 700;
  }

  h4 {
    font-size: 40px;
  }

  h2 {
      color: $white;
font-size:15px;
font-weight: 700;
span {
  font-weight: 400;
}
  }

  p {

  }


  


  .alliancerequest-col {
 padding: 25px;

  }


}

.alliancerequest-body {
  text-align: center;

  &-about {
    h1 {
      text-align: center;
    }
    padding-top: 50px;
  }
}


// checkboxes div
.checkboxes {
  padding: 20px 0px 20px 0px;
}


label.rules_check {
width: 100%;
text-align: center;
}

label.discord_check  {
width: 100% ;
text-align: center;
}
