// overwrite for bootstrp default styles


body,
html {

  color: #343434;
  font-family: 'Marcellus SC', serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
}

a {
  color: #d41144;
  &:hover{
    color: #9c032b;
    text-decoration: underline;
  }
}



.user_info {
  padding-top: 50px;
}

  .navbar-dark .navbar-nav .nav-link:hover,   .navbar-darkt .navbar-nav .nav-link:focus {
  }

  .navbar-dark .navbar-brand {
  color:rgb(232, 232, 232) ;
  }

  .navbar-dark .navbar-brand:hover, .navbar-light .navbar-brand:focus {

    color: #d41144;
  }

  .navbar-dark .navbar-nav .show > .nav-link,   .navbar-dark .navbar-nav .active > .nav-link,   .navbar-dark .navbar-nav .nav-link.show,   .navbar-dark .navbar-nav .nav-link.active {

    color: #d41144;
  }


.navbar {
  z-index: 99999;
  padding: 20px;
  background-color: #0e0e0e;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.5);
      -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.5);
}

.navbar-dark .navbar-nav .nav-link {
      color: #fff;
      letter-spacing: -0.5px;
      font-size: 16px;
      border-bottom: 1px solid rgba(255, 255, 255, 0);
transition: 0.25s;
      &:hover {
        color: #c8114d;
        border-bottom: 1px solid rgb(200, 17, 77);
        transition: 0.25s;
      }
}

a.sign-in {


  &:before {
    font-family: "FontAwesome";
    @extend .fa-user-plus;
    padding-right: 0.5em;
  }
}

a.log-in {


  &:before {
    font-family: "FontAwesome";
    @extend .fa-sign-in;
    padding-right: 0.5em;
  }
}
// Navbar background coolor
.bg-back {

}

// dropdown-Navbar background coolor
.dropdown-menu {
  background-color: #0e0e0e;
}

// dropdown-Navbar link color
.dropdown-item {
    color: #fff;
      font-size: 16px;
}

.dropdown-toggle::after {
vertical-align: 0.15em;
}


// uppercase transform for navbar links
.nav-link, .dropdown-item {

}

// Dusze Orokinu logo
.brand-logo {
  width:40px;
  height:auto;
}

// Navbar brand font color
.navbar-dark .navbar-brand {
  color: #d41144;

  &:hover {

    color: #c8114d;
  }
}



// Pages content
.page-wrapper {
  width:100%;
  padding: 50px 0px 50px 0px;
  z-index: 9;
}

.page-header h1 {
  text-align: center;
  font-weight: 700;
  font-size: 4em;
    z-index: 9;
}



// alerts

.alert {

  width:100%;
margin-bottom: 0px;

}

.modal {
  top: 100px;
}


// buttons

.btn-danger {
    color: #fff;
    background-color: #d41144;
    border-color: #d41144;
    &:hover {
      background-color: #d41144;
      border-color: #d41144;
    }
}

.btn-small {
  font-size: 0.75em;
}

a.btn.btn-do {

  &:hover{
    text-decoration: none;
    color:#fff;
  }
}

.button-about {
  padding-top: 50px;
  text-align: center;
}

.btn-do  {
  color: #fff;
background-color:#d41144;
}

a.btn-do-bordered {
  position: relative;
      display: inline-block;
      padding: 14px 36px;
      font-family: "Marcellus SC",serif;
      font-size: .9rem;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-color:#ffff;
      color: #ffff;
      background-color: #0b0b0b;
      border: none;
      border-radius: 2px;
      -webkit-transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;
      -o-transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;
      transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;

  &::before {
        border-color:#ffff;
  content: "";
    position: absolute;
    display: block;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border: 1px solid;
    border-radius: 2px;
    -webkit-transition: .3s background-color,.3s border-color;
    -o-transition: .3s background-color,.3s border-color;
    transition: .3s background-color,.3s border-color;
    z-index: 1;
}


&:hover {
color:#d41144;
}

}

a.btn-do-bordered-small {
  position: relative;
      display: inline-block;
      padding: 10px 22px;
      font-family: "Marcellus SC",serif;
      font-size: .9rem;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-color:#ffff;
      color: #ffff;
      background-color: #0b0b0b;
      border: none;
      border-radius: 2px;
      -webkit-transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;
      -o-transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;
      transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;

  &::before {
        border-color:#ffff;
  content: "";
    position: absolute;
    display: block;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border: 1px solid;
    border-radius: 2px;
    -webkit-transition: .3s background-color,.3s border-color;
    -o-transition: .3s background-color,.3s border-color;
    transition: .3s background-color,.3s border-color;
    z-index: 1;
}


&:hover {
color:#d41144;
}

}
