

body,
html {
    background: linear-gradient(to right,#17161a, #242124 50% ,#17161a);
  color: #343434;
  font-family: 'Marcellus SC', serif;
  font-weight: 400;
  height: 100%;
  margin: 0;

}

header {
  transition: 1s;
}

a {
  color: #d41144;
  &:hover{
    color: #9c032b;
    text-decoration: underline;
  }
}




.timestamp p {

  color: #d9d9d9;
}


// navigation
.nav-up {
    top: -60px;
}


.share-left {
  right: auto;
  left: 0;
}

.svg-inline--fa {
  width: 2em;
  height:2em;
  color: $white;
}

.anim {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transition: 1s;
}



.share-ul {
  transition: 1s;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}


.share-buttons {

  ul {
    list-style-type: none;
    padding-left: 15px;
  }
  transition: 1s;
  position:fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  opacity: 1;

  z-index: 999;



.share-icon {
display: inline-block;
  opacity:0.3;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  &:hover {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity:1!important
  }

&:hover + .share-name {
  display: inline-block;
  visibility: visible;
   opacity: 1;
transform: translateX(0px);
-webkit-transition: 1s;
-o-transition: 1s;
transition: 1s;
}

}


  .share-name {
      color: $white;
    padding-left: 5px;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
transform: translateX(15px);
  }

}




.form-control:focus {

background-color: #fff;
border-color: #a20743;
outline: 0;
box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.35);
}

.user_info {
  padding-top: 50px;
}

  .navbar-dark .navbar-nav .nav-link:hover,   .navbar-darkt .navbar-nav .nav-link:focus {
  }

  .navbar-dark .navbar-brand {
  color:rgb(232, 232, 232) ;
  }

  .navbar-dark .navbar-brand:hover, .navbar-light .navbar-brand:focus {

    color: #d41144;
  }

  .navbar-dark .navbar-nav .show > .nav-link,   .navbar-dark .navbar-nav .active > .nav-link,   .navbar-dark .navbar-nav .nav-link.show,   .navbar-dark .navbar-nav .nav-link.active {

    color: #d41144;
  }


.navbar {
  z-index: 99999;
  padding: 20px;
 background-color: rgba(#17161a, 0.5);
}

.header-dark {
  background-color: #17161a;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.5);
      -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.5);
}

.navbar-dark .navbar-nav .nav-link {
      color: #fff;
      letter-spacing: -0.5px;
      font-size: 16px;
      border-bottom: 1px solid rgba(255, 255, 255, 0);
transition: 0.25s;
      &:hover {
        color: #c8114d;
        border-bottom: 1px solid rgb(200, 17, 77);
        transition: 0.25s;
      }
}

a.sign-in {


  &:before {
    font-family: "FontAwesome";
    @extend .fa-user-plus;
    padding-right: 0.5em;
  }
}

a.log-in {


  &:before {
    font-family: "FontAwesome";
    @extend .fa-sign-in;
    padding-right: 0.5em;
  }
}
// Navbar background coolor
.bg-back {

}

// dropdown-Navbar background coolor
.dropdown-menu {
  background-color: #0e0e0e;
}

// dropdown-Navbar link color
.dropdown-item {
    color: #fff;
      font-size: 16px;
}

.dropdown-toggle::after {
vertical-align: 0.15em;
}


// uppercase transform for navbar links
.nav-link, .dropdown-item {

}

// Dusze Orokinu logo
.brand-logo {
  width:40px;
  height:auto;
}

// Navbar brand font color
.navbar-dark .navbar-brand {
  color: #d41144;

  &:hover {

    color: #c8114d;
  }
}

.dropdown-menu {
  padding: 0px;
}


.dropdown-item {
  background-color: none;
  padding: 15px 15px;
  font-size: 14px;

  &.active, &:focus {
    background-color: $pinky;
  }
}

.dropdown-menu.fade {
   display: block;
   opacity: 0;
   pointer-events: none;
}

.show > .dropdown-menu.fade {
   pointer-events: auto;
   opacity: 1;
}

// Pages content
.page-wrapper {
  width:100%;
  padding: 150px 0px 150px 0px;
}

.content-wrapper {
  padding: 50px 0px 50px 0px;
}

.page-header h1 {
  text-align: center;
  font-weight: 700;
  font-size: 4em;
    z-index: 9;
}



// alerts

.alert {
    margin-top: 81px;
  width:100%;
margin-bottom: 0px;

}

.modal {
  top: 100px;
}


#notification {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #fff;
  .close {cursor: pointer}
}

.online_status {
  color: red;
  transition: color 1s ease;
  &.online {
    color: green;
  }
}

// buttons

.btn-danger {
    color: #fff;
    background-color: #d41144;
    border-color: #d41144;
    &:hover {
      background-color: #d41144;
      border-color: #d41144;
    }
}

.btn-small {
  font-size: 0.75em;
}

.btn-do-profile-opt {
  margin:5px;
}

a.btn.btn-do {

  &:hover{
    text-decoration: none;
    color:#fff;
  }
}

.button-about {
  padding-top: 50px;
  text-align: center;
}

.btn-do  {
  color: #fff;
background-color:#d41144;
}

a.btn-do-bordered {
  position: relative;
      display: inline-block;
      padding: 14px 36px;
      font-family: "Marcellus SC",serif;
      font-size: .9rem;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-color:#ffff;
      color: #ffff;
      background-color: #17161a;

      border: none;
      border-radius: 2px;
      -webkit-transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;
      -o-transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;
      transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;

  &::before {
        border-color:#ffff;
  content: "";
    position: absolute;
    display: block;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border: 1px solid;
    border-radius: 2px;
    -webkit-transition: .3s background-color,.3s border-color;
    -o-transition: .3s background-color,.3s border-color;
    transition: .3s background-color,.3s border-color;
    z-index: 1;
}


&:hover {
color:#d41144;
}

}

a.btn-do-bordered-small {
  position: relative;
      display: inline-block;
      padding: 10px 22px;
      font-family: "Marcellus SC",serif;
      font-size: .9rem;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-color:#ffff;
      color: #ffff;
      background-color: #17161a;
      border: none;
      border-radius: 2px;
      -webkit-transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;
      -o-transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;
      transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;

  &::before {
        border-color:#ffff;
  content: "";
    position: absolute;
    display: block;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border: 1px solid;
    border-radius: 2px;
    -webkit-transition: .3s background-color,.3s border-color;
    -o-transition: .3s background-color,.3s border-color;
    transition: .3s background-color,.3s border-color;
    z-index: 1;
}


&:hover {
color:#d41144;
}

}
