// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
********
PROFILES
********
*/

// Profile container
.profile-container {
width:100%;

padding: 50px 0px 50px 0px;
}


.user_details {
  padding-top: 40px;
  p {
    font-size: .4em;

    span {
      padding-left: 10px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: .9em;
      letter-spacing: .5px;
      color: $pinky;
    }

  }
  p.active {
    color: $pinky !important;
    font-size: .3em;
    font-weight: 400;
    text-transform: uppercase;
  }
}





/*
********
PANEL
********
*/

.panel-administracja {
  padding: 0px 0px 50px 0px;
}

.options-panel {

  padding: 100px 0px 100px 0px;
  h2 {
    text-align: center;
  }
}



/*
********
REGISTER
********
*/

// mixins
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// form
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  color: #fff;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: $form-feedback-invalid-color;
  }
}

.alert {
  text-align: center;
  font-weight: 400;
}


.form-control  {
    background-color: transparent;

    &:focus {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }
}



.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


// signup form container
.form-container {
  padding: 50px 0px 50px 0px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;

  }
  p {
    padding:0;
    margin: 0;
    font-size: 12px;
  }
}
.user-profile {
  min-width: 250px;
}

.options {
  display: inline-flex;
  margin-left:20px;
  border-left: solid $pinky 1px;
padding: 12px 0px 0px 12px;

input {
  width:auto;
}
}

.btn-do-profile-opt {
  background-color:$pinky;
  padding: 0px 5px;
    font-size: 14px;
    color: #fff;
    opacity: 0.65;

    &:hover{
      box-shadow: 0 0 0 0.2rem rgba(9, 9, 9, 0.25);
    }
}

.btn-do-profile  {
  color: #fff;
background-color:$pinky;
padding: 0px 5px;
  font-size: 14px;


&:hover {

    box-shadow: 0 0 0 0.2rem rgba(9, 9, 9, 0.25);
}

&:focus {
  box-shadow: none;
}
}

.btn-profile {
  padding: 0px 5px;
  font-size: 14px;
  &:hover {

      box-shadow: 0 0 0 0.2rem rgba(9, 9, 9, 0.25);
  }

  &:focus {
    box-shadow: none;
  }

}

.users-container {
  padding: 50px 0px 50px 0px;
}



//SIGNUP PAGE

.signup-page-header {
margin: 0 auto;
color: #fff;
width:100%;
position: relative;

height:100%;

opacity: .9999;
h3 {
   text-align: center;
   font-size: 1.5em;
 }
}

.signup-page-wrapper {
  padding:100px 0px 0px 0px;
height:100%;
display: flex;
    width: 100%;

}

.signup-page-bg {
position: absolute;
width:100%;
height: 100%;
  background-repeat: no-repeat;
background-size: cover;
background-position: bottom;
opacity: 0.2;


}



.signup-page-content {
  z-index: 9999;
flex-grow: 1;
align-self: center;

.form-control {
color: #fff;
  &:focus {
    background:transparent;
  }
}
}

.user-btn {

  background-color: $pinky;
}



// LOGIN PAGE

.login-page-header {
margin: 0 auto;
color: #fff;
width:100%;
position: relative;

height:100%;

opacity: .9999;

h3 {
   text-align: center;
   font-size: 1.5em;
 }
}

.login-page-wrapper {
height:100%;
display: flex;
    width: 100%;

}

.login-page-bg {
position: absolute;
width:100%;
height: 100%;
  background-repeat: no-repeat;
background-size: cover;
background-position: bottom;
opacity: 0.2;


}



.login-page-content {
  z-index: 9999;
flex-grow: 1;
align-self: center;

.form-control {
  color: #fff;
  &:focus {
    background:transparent;
  }
}

}



// AVATAR

.user-avatar {
background-size: cover;
}