// app colors
$darkblue: #012945;
$darky: #0e0e0e;
$white: #d9d9d9;
$darkbg: #17161a;
$lightshadow: #24262D;
$darkwhite: #7a7a7a;
$darkt: rgba(23, 22, 26, 0.5);
$yell: #ab8d39;
$yell-hov: #ddb445;


//bg gradient
$gradient: linear-gradient(to right, #17161a, #242124 50%, #17161a);


//vitruvian colors
$light-vitru: #dccaa7;
$vitruvian: #b6934e;
$dark-vitru: #212529;
$vitruvian-opa: rgba(182, 147, 78, 0.21);
$trans-vitru: rgba(134, 133, 133, 0.09);
$vitru-text-shadow: #6c757d;

//webfonts path for fontawesome
$fa-font-path: "../webfonts";


//font-family: 'Marcellus', serif;
@import url('https://fonts.googleapis.com/css?family=Marcellus&subset=latin-ext');