// app colors
$darkblue: #012945;
$darky: #0e0e0e;
$white: #d9d9d9;
$darkbg: #17161a;
$lightshadow: #24262D;
$darkwhite: #7a7a7a;
$darkt: rgba(23, 22, 26, 0.5);
$yell: #ab8d39;
$yell-hov: #ddb445;

//Ghostie colours
$ghostie:  #01FEA3;
$ghostie-hover: #0dc592;
$ghostie-opacity: rgba(1, 254, 163, 0.21);
$ghostie-dark: rgba(3, 52, 46, 0.56);
$ghostie-light: rgba(3, 252, 161, 0.55);
$ghostie-opa: rgba(182, 147, 78, 0.21);
$ghostie-trans-bg: rgba(3, 252, 161, 0.08);
$ghostie-shadow: #6c757d;
$ghostie-blue-bg: rgba(27, 30, 107, 0.14);
//bg gradient
$gradient: linear-gradient(to right, #17161a, #242124 50%, #17161a);



//webfonts path for fontawesome
$fa-font-path: "../webfonts";


//font-family: 'Marcellus', serif;
@import url('https://fonts.googleapis.com/css?family=Marcellus&subset=latin-ext');