
-provide(:title, @news_category.name)

.page-wrapper
  .page-header
    %h2= @news_category.name
    %p= @news_category.desc


  .col-lg-12.text-center.mx-auto
    .card-deck
      =render 'news'

    .row
      .col-md-6.mx-auto
        .actions.text-center
          .btn-group
            -if can?(:manage, NewsCategory)
              = link_to 'Edytuj kategorię', edit_news_category_path(@news_category), class: 'btn btn-do-main'
            = link_to 'Wróć', :back, class: 'btn btn-do-main'
