<p>Witaj <%= @email %>!</p>

<p>Możesz potwierdzić swoje konto na stronie dusze-orokinu.pl poprzez link poniżej!</p>

<p><%= link_to 'Potwierdź konto', confirmation_url(@resource, confirmation_token: @token) %></p>
