
%html
  %head
    %meta{content:'text/html', charset:'UTF-8', 'http-equiv':'Content-Type'}
    :css
      body {text-align: center;}
      h1 {font-size: 2em; text-transform: uppercase; padding-bottom: 40px;}
      p {}
      .col { width:80%; margin: 0 auto; padding: 100px 0;}
      a { transition: .3s; text-decoration: none; color: #b6934e; border: 2px solid  #b6934e; padding: 10px 15px; border-radius: 5px }
      a:hover{color: #dccaa7; border-color: #dccaa7; transition: .3s; }
      .button {padding-top: 50px}

  %body
    .col
      %h1 #{"Witaj,  #{@resource.name}!"}


      %p Kontaktujemy się z Tobą, ponieważ Twoje hasło zostało zmienione, jeśli to nie Ty zmieniłeś hasło do konta, skontaktuj się z administracją strony.
      .button
        = link_to 'Potwierdź konto', confirmation_url(@resource, confirmation_token: @token)




    =image_tag('all-gold.png')

    %h5
      Masz pytania?
      =link_to "Skontaktuj się z nami", contact_index_url

    %p
      Pozdrawiamy,
      administracja sojuszu Dusze Orokinu.

    %small (Wiadomość została wygenerowana automatycznie)