- provide(:title, "Ciasteczkowa polityka")

.page-wrapper
  .page-header

    %h1 Ciasteczkowa polityka

  .container.cookies-info

    %p
      Pliki cookie to małe pliki tekstowe, które są pobierane na komputer, tablet lub telefon komórkowy podczas odwiedzania witryny lub aplikacji.
      Strona internetowa lub aplikacja może pobierać te pliki cookie z przeglądarki internetowej (np. Internet Explorer, Mozilla Firefox lub Google Chrome)
      za każdym razem, gdy odwiedzasz witrynę, dzięki czemu mogą Cię rozpoznać, zapamiętać swoje preferencje i zapewnić bezpieczniejsze korzystanie z Internetu.

    %p
      Zasadniczo pliki cookie są bardzo użyteczne i są popularną metodą używaną przez prawie każdą odwiedzaną witrynę, ponieważ pomagają w maksymalnie efektywnym korzystaniu
      z Internetu. Ze względów bezpieczeństwa wiele stron internetowych nie będzie działać w ogóle bez użycia plików cookie (lub innych podobnych technologii, takich jak "sygnały
      nawigacyjne" lub "znaczniki").

    %p
      Cookies zazwyczaj nie zawierają żadnych informacji pozwalających zidentyfikować konkretną osobę, ale są wykorzystywane do identyfikacji przeglądarki
      na poszczególnych komputerach.

    %p
      Jeśli wolisz, możesz ograniczyć, zablokować lub usunąć pliki cookie, zmieniając ustawienia przeglądarki, ale to może oznaczać,
      że strona internetowa nie będzie działać poprawnie


    %p
      Aby uzyskać więcej informacji na temat plików cookie i ich wpływu na Ciebie i Twoje przeglądanie odwiedź
      %span
        %a{href:'www.aboutcookies.org.', target:'_blank'} www.aboutcookies.org.

    %hr
    %h2.p-4 Niezbędne pliki cookie

    %p
      Te pliki cookie są niezbędne, aby pomóc Ci korzystać z funkcji i usług, które oferujemy na stronie Dusze Orokinu.
      Bez tych plików cookie nie można zapewnić usług, z których chcesz korzystać. Te pliki cookie nie zbierają informacji o Tobie,
      które mogłyby zostać użyte w celu identyfikacji Ciebie, a także nie monitorują ani nie pamiętają, gdzie byłeś w Internecie.

    %h2.p-4 Funkcjonalne pliki cookie

    %p
      Te pliki cookie pozwalają nam zapewnić lepszą jakość korzystania z Internetu podczas korzystania z naszej witryny.
      Nie gromadzą ani nie przechowują żadnych informacji, które pozwoliłyby nam zidentyfikować Cię osobiście.

    %h2.p-4 Pliki cookie wydajności

    %p
      Pliki cookie dotyczące skuteczności pomagają nam zrozumieć, w jaki sposób nasi klienci korzystają z naszej witryny,
      dzięki czemu możemy utrzymać nasze produkty i usługi odpowiednie, łatwe w użyciu i aktualne. Na przykład możemy zobaczyć,
      które produkty i usługi są najbardziej popularne, określić, kiedy i gdzie występują błędy, i przetestować różne wersje strony, aby poprawić jakość korzystania z Internetu.


    %h2.p-4 ZARZĄDZANIE PLIKAMI COOKIE

    %p
      Większość przeglądarek internetowych umożliwia usuwanie plików cookie z dysku twardego komputera,
      blokowanie wszystkich plików cookie (lub tylko plików cookie innych firm) lub ostrzeganie przed zapisaniem pliku cookie na urządzeniu.

    %p
      Pamiętaj, że jeśli zdecydujesz się zablokować wszystkie pliki cookie, nasza witryna nie będzie działać zgodnie z przeznaczeniem i nie będzie można korzystać
      z wielu świadczonych przez nas usług. Jeśli zablokowałeś wszystkie pliki cookie i chcesz w pełni korzystać z oferowanych przez nas funkcji i usług,
      musisz włączyć obsługę plików cookie. Możesz to zrobić w przeglądarce (patrz poniżej).

    %p Zamiast blokować wszystkie pliki cookie, możesz zablokować tylko pliki cookie innych firm, które nadal będą działały zgodnie z przeznaczeniem.

    %h2.p-4 Jak zarządzać plikami cookie na komputerze

    %h4.p-4 Aby włączyć obsługę plików cookie w naszej witrynie, wykonaj poniższe czynności.

    %h2 Google Chrome
    %ul
      %li Kliknij "Narzędzia" u góry przeglądarki i wybierz "Ustawienia".
      %li Kliknij "Pokaż ustawienia zaawansowane", przewiń w dół do sekcji "Prywatność" i kliknij "Ustawienia treści".
      %li Wybierz "Zezwalaj na lokalne dane". Aby akceptować tylko własne pliki cookie, zaznacz pole "Zablokuj wszystkie pliki cookie stron trzecich bez wyjątku"


    %h2 Mozilla Firefox
    %ul
      %li Kliknij "Narzędzia" u góry przeglądarki i wybierz "Opcje".
      %li Następnie wybierz ikonę "Prywatność".
      %li Kliknij "Pliki cookie" i wybierz "Zezwalaj stronom na tworzenie plików cookie".

    %h2 Safari
    %ul
      %li Kliknij ikonę koła zębatego u góry przeglądarki i wybierz "Ustawienia".
      %li Kliknij kartę "Prywatność", a następnie wybierz opcję "Wyłącz używanie plików cookie przez strony trzecie i pliki cookie dotyczące reklam".
      %liKliknij "Zapisz".

