<% provide(:title, 'Strona Główna') %>

<div class="header-wrapper flex-center position-ref full-height">

  <div class="header-body">

    <h1>Dusze Orokinu</h1>
    <h2>WARFRAME</h2>
    <h3>Polski Sojusz Warframe 2018</h3>


  </div>
