<% provide(:title, 'Strona Główna') %>

<div class="header-wrapper">

<div class="header-image">
  </div>


<div class="header-body-wrapper">


  <div class="header-body">

    <h1>Dusze Orokinu</h1>
    <h2>WARFRAME</h2>
    <h3>Polski Sojusz Warframe 2018</h3>

</div>
</div>

</div>




<div class="content-wrapper">


  <div class="content-onas ">

<div class="container">

  <div class="about-us-text">

      <h1>Zrzeszamy Polskie klany gry Warframe.</h1>
      <h2>Dołącz do nas już teraz.</h2>

      <p>Naszym celem jest zjednoczenie Polskich klanów, zachęcenie do wspólnej gry i zachowania miłej atmosfery. Ideą naszego sojuszu jest stworzenie dobrze rozumiejącej się grupy ogarniętych ludzi, aby to osiągnąć każdy klan musi spełniać wymagania sojuszu takie jak minimalny wiek w klanach oraz obowiązkowy discord. Przyszłość naszego sojuszu tworzą klany, chcąc zadbać o przyszłość sojuszu musimy dbać o siebie nawzajem.</p>
  </div>

<div class="row tag">



<div class="col">

<div class="tag-header">
<h2>Świetna Atmosfera</h2>
</div>

<div class="tag-text">
<p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym.<p>
</div>

</div>

<div class="col">

  <div class="tag-header">
  <h2>Komunikacja</h2>
  </div>

  <div class="tag-text">
  <p>Discord w naszym sojuszu jest obowiązkowy, nie zmuszamy do uczestniczenia głosowego, wymagamy bycia online na Discordzie podczas gry. Aspektem dobrego sojuszu jest komunikacja, fajnie jest sobie popisać w wolnym czasie ze znajomymi ale gdy gra się jakieś misje lub rajdy, najważniejsze jest zgranie i nie ma czasu na pisanie na czacie.<p>
  </div>

</div>

<div class="col">

  <div class="tag-header">
  <h2>Rekrutacja</h2>
  </div>

  <div class="tag-text">
  <p>Zanim postanowisz dołączyć do sojuszu, przeczytaj dokładnie regulamin międzyklanowy oraz czatu, zapoznaj się również z naszymi wymaganiami, wszystko co musisz wiedzieć zanim do nas dołączysz znajdziesz na tej stronie! :) Oferujemy również miejsce na reklamę dla klanów należących do sojuszu!<p>
  </div>

</div>



</div>
<div class="button-about">
<a class="btn btn-do-bordered" href="/sojusz/onas">Dowiedz się więcej</a>
</div>
</div>


</div>



  </div>
