.footbar


  .footbar-content



    .container

      .footbar-body
        =image_tag('duszki.png')
        %h2 Dusze Orokinu
        %p Polski sojusz Warframe 2019
        =image_tag('veil-white.png')

      %p
        The content of this site: text,pictures ,videos & graphics art may not be published, reproduced or copied in
        any way without the written consent of the owner. | Warframe is a registered trademark of Digital Extreme |
        https://dusze-orokinu.pl is a fan site and is not in any way affiliated with Digital Extreme.


    %hr
    .stopka
      %h4 
        Strona stworzona została przez 
        %a{href: "https://eviathos.pl"} Eviathos.pl - Jacek Kowalski
