<div class="footbar">


  <div class="footbar-content">

<div class="footbar-social_links">

<div class="container">


<nav class="foo-nav">

  <ul>
      <h1>Linki</h1>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Warframe Forum</a></li>
    <li><a href="#">Discord</a></li>
  </ul>
  </nav>
</div>

</div>

  </div>

<hr>
<div class="stopka">
<h4>Strona stworzona została przez <a href="https://eviathos.pl">Eviathos.pl - Jacek Kowalski</a></h4>
</div>

</div>
